
<div class="sp-row">

    <div class="sp-label" matTooltip="{{label}}">{{label}}</div>
    <!-- if price  
    <div *ngIf="isPrice && value" class="sp-value">
        {{valueD | sxcurrency:'USD':true:'1.2-5'}}
    </div>
    -->
    <div *ngIf="isDate && value" class="sp-value">
        <div class="flex-align-items w-100">
            <div class="m-r-8 flex-align-items">
                <i class="material-icons size-18 m-r-4">access_time</i>
                <span class=" size-14">{{value | date:'HH:mm'}}</span>
            </div>
            <div class="flex-align-items">
                <i class="material-icons  size-18 m-r-4">event_note</i>
                <span class=" size-14">{{value | date:'MMM d, y'}}</span>
            </div>
        </div>
    </div>
    <div *ngIf="!isPrice && !isDate && value" class="sp-value">
        {{value}}
    </div>
    <div *ngIf="infoMessage" class="key-value-line-info">
        <sx-button-info 
            class="absolute" 
            message="{{infoMessage}}">
        </sx-button-info>
    </div>
</div>
