<div class="listcard">
    <mat-card *ngIf="company" class="m-4"> 
        <mat-card-content>
            <img class="m-r-4" [src]="imgUrl" alt="logo" [ngClass]="imgClass" (load)="onImageLoad()">
           
            <div  class="content">
                <div class="flex-start w-80">
                    <div class="subtitle ellipsis m-r-4">
                        {{company.company_name | uppercase }}
                    </div>
                    <div *ngIf="company.branch_code" class="w-full m-r-4">{{company.branch_code}}</div>
                </div>
                <div class="flex-end">{{company.company_type_id | companytype}}</div>
            </div>
        </mat-card-content>
    </mat-card>
</div>