<mat-toolbar class="matero-toolbar" >
  <button mat-button class="matero-hamburger" (click)="toggleSidenav.emit()" *ngIf="showToggle">
    <mat-icon>menu</mat-icon>
  </button>

  <sx-branding *ngIf="showBranding"></sx-branding>
  <span fxFlex ></span>

  <sx-sel-project-button></sx-sel-project-button>
  <!--
  <sx-github-button></sx-github-button>
  -->
  <button mat-icon-button>
    <mat-icon>search</mat-icon>
  </button>
<!--
  <button mat-icon-button (click)="toggleFullscreen()" fxHide.lt-sm>
    <mat-icon>fullscreen</mat-icon>
  </button>
-->
  <sx-notification fxHide.lt-sm></sx-notification>

  <sx-user></sx-user>

  <button mat-button class="matero-hamburger" (click)="toggleSidenavNotice.emit()" fxHide.lt-sm>
    <mat-icon>list</mat-icon>
  </button>
</mat-toolbar>