<a mat-button href="javascript:void(0)" [matMenuTriggerFor]="menu">
    <img class="matero-user-avatar r-full align-middle" [src]="avatarUrl" width="24" alt="avatar" />
    <span class="align-middle">{{username | truncate:10}}</span>
</a>

<mat-menu #menu="matMenu">
    <button mat-icon-button color="secondary" routerLink="/commodity" class="link f-w-300 p-l-4">
        <mat-icon class="link blue size-18 m-r-4">mediation</mat-icon>
        <span>Commodity</span>
    </button>
    <hr/>
    <button mat-icon-button color="secondary" (click)="logout()" class="f-w-300 p-l-4">
        <mat-icon class="size-18 m-r-4">exit_to_app</mat-icon>
        <span>Logout</span>
    </button>
    <!--
    <a routerLink="/commodity" class="link blue" mat-menu-item>
        <mat-icon class="link size-20">mediation</mat-icon>
        <span>Commodity</span>
    </a>
    
    <a routerLink="/profile/overview" mat-menu-item>
        <mat-icon>account_circle</mat-icon>
        <span>Profile</span>
    </a>
    <a routerLink="/profile/settings" mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
    </a>
    
    <a class="link" mat-menu-item (click)="logout()">
        <mat-icon class="f-w-300 blue link">exit_to_app</mat-icon>
        <span>Logout</span>
    </a>
    -->
</mat-menu>