// ==================================================
// LAYOUT
// ==================================================

.matero-container-wrap,
.matero-container {
  height: 100%;
}

.matero-content {
  position: relative;
  padding: $gutter;
  &-sx {
    @extend .matero-content;
    padding:0px 0px 0px 0px!important;
    height: calc(100% - #{$toolbar-height-desktop}) !important;
    overflow-y: auto!important;
  }
}

// -TODO: Grid row
.matero-row {
  margin-right: -$gutter/2;
  margin-left: -$gutter/2;
  position: relative;
}

// -TODO: Grid col
.matero-col {
  padding-right: $gutter/2;
  padding-left: $gutter/2;
}

sx-filter-panel{
  /* @extend .matero-col;
   @include placement(fixed, 50px,null,0,70px);
  */
  @extend .mat-card;
   @include size(320px, 100% );
   z-index: 1000;
   height: 100% !important;
   overflow-x: hidden;
   overflow-y: auto;
   border-right: 1px solid #eee;

   .clear-button-container{
      margin-top: 10px;
      margin-right: 10px;
      display: flex;
      justify-content: flex-end;
      min-height: 30px;
  }

 }


// Layout control
.matero-header-above {
  .matero-container {
    height: calc(100% - #{$toolbar-height-desktop}) !important;
  }

  .matero-sidebar-inner {
    height: 100% !important;
  }
}

// Fix the init content width
.matero-content-width-fix {
  .matero-content-wrap {
    margin-left: $sidenav-width !important;

    [dir='rtl'] & {
      margin-left: auto !important;
      margin-right: $sidenav-width !important;
    }
  }
}

.matero-fill{
  display: flex;
  flex-direction: column;
  flex: 1;
  height: calc(100vh - 125px) !important;
}
.sx-tabs{
  @extend .matero-fill;
  position: relative;
  height: calc(100vh - 145px) !important;
  .mat-tab-body-wrapper{
    height: calc(100vh - 195px) !important;
  }
}
.sx-utility-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 16px 0px 16px;
}

.mat-header-row, .mat-row{
  height: 36px!important;
}

.mat-row{
  min-height: 36px!important;
}

.mat-checkbox{
  padding-right: 15px;
}

//
// Auth
//
.matero-auth-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #212121;
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, .05) 25%,
    transparent 25%,
    transparent 75%,
    rgba(255, 255, 255, .05) 75%,
    rgba(255, 255, 255, .05)
  ),
    linear-gradient(
    -45deg,
    rgba(255, 255, 255, .05) 25%,
    transparent 25%,
    transparent 75%,
    rgba(255, 255, 255, .05) 75%,
    rgba(255, 255, 255, .05)
  );
  background-size: 60px 60px;
}

//
// Auth
//
.guest-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #212121;
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, .05) 25%,
    transparent 25%,
    transparent 75%,
    rgba(255, 255, 255, .05) 75%,
    rgba(255, 255, 255, .05)
  ),
    linear-gradient(
    -45deg,
    rgba(255, 255, 255, .05) 25%,
    transparent 25%,
    transparent 75%,
    rgba(255, 255, 255, .05) 75%,
    rgba(255, 255, 255, .05)
  );
  background-size: 60px 60px;
}


///////////////////////
// -QUICK FLEX FORMAT //
///////////////////////
.flex{
  display: flex;
  &-col{
      display: flex;
      flex-direction: column;
  }
  &-center{
      display: flex;
      justify-content: center;
      width: 100%;
  }
  &-middle{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  &-wrap{
      @extend .flex;
      flex-wrap: wrap;
  }
  &-end{
      display: flex;
      justify-content: flex-end;
  }
  &-start{
      display: flex;
      justify-content: flex-start;
  }
  &-align-items{
      display: flex;
      align-items: center;
  }
  &-space-between{
      @extend .flex;
      justify-content: space-between;
  }
}

.center-center{
  @extend .flex-align-items;
  @extend .flex-center;
}

///////////////////////
// -TEXT MAIN COLORS. //
///////////////////////
.orange{
  color:$orange-main!important;
}
.blue{
  color:$blue-main!important;
}
.blue-light{
  color:$light-blue!important;
}
.yellow{
  color:$yellow-main!important;
}
.white{
  color:white!important;
}
.red{
  color: $red!important;
}
.gray{
  color:$gray-dark!important;
}
.green{
 color:$green-success!important;
}
.pink {
  color:$pink;
}
/////////////////
// -FORMAT TEXT //
/////////////////
.ellipsis{
  @include ellipsis(100%);
}
.text-align-center{
  text-align: center;
}
.bold{
  font-weight: 800!important;
}
.semi-bold{
  font-weight: 600!important;
}
.regular{
  font-weight: 400!important;
}
.thin{
  font-weight: 300!important;
}
.size{
  &-24{
      font-size: $f-24px;
  }
  &-20{
      font-size: $f-20px;
  }
  &-18{
      font-size: $f-18px;
  }
  &-16{
      font-size: $f-16px;
  }
  &-14{
      font-size: $f-14px;
  }
  &-12{
      font-size: $f-12px;
  }
  &-10{
      font-size: $f-10px;
  }
  &-8{
      font-size: $f-8px;
  }
}

textarea,
input.text,
input[type="text"],
input[type="button"],
button[type="submit"],
.input-checkbox {
-webkit-appearance: none!important;
-moz-appearance: none!important;
appearance: none!important;
border-radius: 0;
}


/////////////////////
// -PRIMARY BUTTONS //
/////////////////////

.btn-primary {
  @include clearBtnStyle();
  @include text($f-14px, #fff);
  background-color: $blue-main;
  border-color: $blue-main;
  border-radius: 0px;
  padding: 13px 20px;
  & > .material-icons {
      font-size: 19px;
      vertical-align: -20%;
  }
  &:hover{
      color: #fff;
      background-color: $blue-dark;
      border-color: $blue-dark;
      cursor: pointer;
  }
  &:focus {
      @include clearFocusStyle();
      background-color: $blue-black;
  }
}

.btn-primary-delete {
  @include clearBtnStyle();
  @include text($f-14px, #fff);
  background-color: $red;
  border-color: $red;
  border-radius: 0px;
  padding: 13px 20px;
  & > .material-icons {
      font-size: 19px;
      vertical-align: -20%;
  }
  &:hover{
      color: #fff;
      background-color: $red-light;
      border-color: $red-light;
      cursor: pointer;
  }
  &:focus {
      @include clearFocusStyle();
      background-color: $red-light;
  }
}


//CANCEL
.btn-primary-cancel {
  @include clearBtnStyle();
  @include text($f-14px, $font-light);
  -webkit-box-shadow:inset 0px 0px 0px 2px $font-light;
  -moz-box-shadow:inset 0px 0px 0px 2px $font-light;
  box-shadow:inset 0px 0px 0px 2px $font-light;
  background-color: transparent;
  // border: $font solid 2px;
  border-radius: 0px;
  padding: 13px 20px;
  & > .material-icons {
      font-size: 19px;
      vertical-align: -20%;
  }
  &:hover{
      color: $gray-dark;
      background-color: transparent;
      -webkit-box-shadow:inset 0px 0px 0px 2px $gray-dark;
      -moz-box-shadow:inset 0px 0px 0px 2px $gray-dark;
      box-shadow:inset 0px 0px 0px 2px $gray-dark;
      cursor: pointer;
  }
  &:focus {
      @include clearFocusStyle();
      -webkit-box-shadow:inset 0px 0px 0px 2px $gray-dark;
      -moz-box-shadow:inset 0px 0px 0px 2px $gray-dark;
      box-shadow:inset 0px 0px 0px 2px $gray-dark;
  }
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: $gray-dark;
  border-color: $gray-dark;
  color: $font;
}
.btn.disabled, .btn:disabled {
  @extend .btn-primary-cancel;
  cursor: not-allowed;
  opacity: .65;
}


// -PRIMARY TWO
.btn-primary-two {
  @include clearBtnStyle();
  @include text($f-14px,$blue-main, 500);
  background-color: $yellow-main;
  border-color: $yellow-main;
  border-radius: 0px;
  padding: 13px 20px;
  & > .material-icons {
      font-size: 19px;
      vertical-align: -20%;
  }
  &:hover{
      color: $blue-main;
      background-color: $yellow-light;
      border-color: $yellow-light;
      cursor: pointer;
  }
  &:focus {
      @include clearFocusStyle();
      background-color: $yellow-white;
  }
}

///////////
// -LOGIN //
///////////
.login{
  &-page-container{
      display: block;
      @include placement(fixed, 0px, 0, 0, 0px);
      @include size(100%, 100%);
      background-image: linear-gradient( to right,rgb(41, 40, 40, 0.95), rgba(255, 255, 0, 0.3) 80%, rgba(0, 45, 179, 0.75) 85%), url("/assets/images/suplier_ship_4.jpg");
      background-size:contain;
      &-overlay{
        content: '';
        display: block;
        @include placement(fixed, 0px, 0, 0, 0px);
        @include size(100%, 100%);
        background-color: $transparent;
      }
  }
  &-logo{
      height: 35px;
      @include placement(absolute,20px, null, null, 20px);
      opacity: 0.6;
  }
  &-title{
      padding-top: 5px;
      font-size: 1.25em;
      color: #ffffff;
      font-weight: 300;
  }
  &-welcome{
      @include text($f-24px,#ffffff,200);
      &-sub{
          @include text($f-16px,#ffffff,100);
      }
      &-container{
        @include size(100%, 100%);
          text-align: center;
          display: flex;
          flex-direction: column;
          align-self: center;
          justify-content: center;
          vertical-align: bottom;
          overflow-y: auto;
      }
      &-text{
        &-mdnone{
          @extend .login-welcome-text;
          @include med-window {
            & { display: none; }
          }
        }
        text-align: justify;
        margin-top: 16px;
        margin-left: 32px;
        margin-right: 80px;
        letter-spacing: 1.5px;
        @include text($f-16px,#ffffff,300);
        @include med-window {
          & {
            @include text($f-12px,#ffffff,300);
          }
        }
        & > span {
          font-weight: 400;
          text-decoration: underline;
          &:hover{
            color: $yellow-light;
            text-decoration: none;
          }
        }
        .img-left {
          width: 300px;
          float: left;
          margin: 5px 15px;
          padding: 0px 5px;
          background-image: linear-gradient(to right, rgba(255, 255, 255,0), rgba(255, 255, 255,1) 20%,  rgba(255, 255, 255,1) 80%,rgba(255, 255, 255,0));
          @include med-window {
            & {
                /*display: none;*/
                width: 50px;
            }
          }
        }
      }
  }
  &-container{
      @include size(100%, 100%);
      display: flex;
      &-left{
          @include size(50%, 100%);
          @extend .flex-middle;
          @include med-window {
              & > .text-align-center {
                  display: none;
               }
              & {
                  @include size(0%, 100%);
              }
          } 
      }
      &-right{
          @include size(50%, 100%); 
          @include gradient-blue-opaque(); 
          /*@extend .flex-start;*/   
          justify-content: space-around;
          align-self: center;
          @include med-window {
              & {
                  @include size(100%, 100%); 
               }
          } 
      }
  }
  &-form{
      padding: 25px;
      width: 400px;
      margin-bottom: 50px;
  }
  &-link{
      @include text($f-14px,$yellow-main !important, 200);
      &:hover{
          color: $yellow-light;
      }
  }
  &-copyright{
      padding:10px;
      @include text($f-14px,$yellow-main, 200);
      @include placement(absolute,null,20px,20px,null);
      &:hover{
          color:#ffffff;
      }
  }
}

.mat-dialog-container{
  position: relative;
}
.mat-dialog-actions{
  position: absolute;
  width: 90%;
}