/////////////////////
// -PAGE CONTAINERS //
/////////////////////

/* NOTE: Put all views in ".main-container-child". If the view has a sibling like the
dashboard or seach results only place in ".main-container" */
.main-container{
    margin: 57px 0px 0px 70px;
    &-child{
        @include calc-min-height(100vh,110px);
        padding: 13px 13px 33px 13px; 
        width:100%;
        background-color: $page-backdrop;
        & > .page-header{
            margin:5px 5px 0px 5px;
        }
        &-with-utilitybar{
            @extend .main-container-child;
            margin-top: 110px;
            @media (max-width: 1204px) {
                margin-top: 163px;
            }
            & > .page-header{
                margin:5px 5px 0px 5px;
            }
        }
    }
}
////////////////
// -SIDE PANEL //
////////////////
.side-panel-modal{
    &-large{
        &-container{
            z-index: 1050;
            @include placement(fixed, 0px);
            @include size(40%, 100vh);
            background: #fff;
            box-sizing: padding-box;
            -moz-box-sizing: padding-box;
            -webkit-box-sizing: padding-box; 
            @include med-window{
               &{
                width: 100%;
               }
            }

            
        }
    }
    &-container{
        @include placement(fixed, 0px, -400px);        
        z-index: 1050;
        @include size(400px, 100vh);        
        background: #fff;
        box-sizing: padding-box;
        -moz-box-sizing: padding-box;
        -webkit-box-sizing: padding-box; 
    }
    &-body{
        padding: 15px 10px 15px 15px;
        height: 100%;
        overflow-y: scroll;

        .clear-button-container{
            margin-top: 4px;
            position: absolute;
            top: 0;
            right: 30px;
            min-height: 30px;
            opacity: 0.6;
        }
        .title-container{
            margin-top: 4px;
            margin-left: 10px;
            display: flex;
            justify-content: flex-start;
            min-height: 30px;
            opacity: 0.6;
        }
    }
    &-close{
        top: 4px;
        & > .close{
            font-weight: 400;
        }
        display: flex;
        justify-content: flex-end;
        min-height: 30px;
        opacity: 0.6;
    } 
    &-overlay {
        content: '';
        @include placement(fixed, 0px, null,null,0px); 
        @include square(100%);               
        display: block;
        z-index: 1049;
        background-color: rgba(0,0,0,0.3);
      }
        
}


.page-title{
    margin-bottom:0px;
    padding-top: 5px;
    padding-left: 5px;
    @include text($f-18px,$blue-main, 400);
    &-light{
        padding-top: 5px;
        padding-left: 5px;
        @include text(20px,$yellow-main, 400);
    }
}
/** Note: Side panel was created to give a gener left side panel, an example is in the
column mapping component where the standard columns are. Not to be confused with the filter panel. 
That is specific to filtering searches but has a lot of similarities to side panel **/
.side-panel{
    &-title{
        @extend .page-title;
        margin: 20px 10px 10px 10px;
        &-container {
            display: flex;
            justify-content: space-between;
            & > .side-panel-title-button{
                margin-top: 14px;
            }
        }
    }
    &-wrapper{
        @include size(325px,auto);
    }
    &-container{
        @include size(320px);
        @include placement(fixed, 50px, null, 0px);
        z-index: 1000;
        overflow-x: hidden;
        overflow-y: auto;
        border-right: 1px solid #eee;
    }
     &-hr{
        @include size(100%);
    }
    &-search-input{
        width:266px;
        padding: 0px 8px 0px 10px;
    }
    &-search-input-sm{
        width:226px;
        padding: 0px 8px 0px 10px;
    }
}

.side-panel{
    &-sec {
        margin-top: 10px;
        width: 100%;
        &-title{
            font-size: 16px;
            color: #666;
        }
        &-rows{
            width: 100%;
            padding-left: 5px;
            flex-direction: column !important;
            box-sizing: border-box;
            .sp-row{
                font-size: 14px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 5px;
                &:hover{
                    cursor: pointer;
                    color: $yellow-main;
                }

                .sp-label{
                    font-weight: 300 !important;
                    width:120px;
                    padding-right: 10px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                .sp-value{
                    font-weight: 400 !important;
                    width: 100%;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}


.side-panel{
    &-sibling-container{
        @include size(100%, auto);
        width: 100%;
        position: relative;
        background: $scroll-gray;
        @include calc-min-height(100vh, 133px);

        padding-right: 15px;
        padding-bottom: 5px;
        /** Note: The class side-panel-sibling-container it used to go along side and page with a side filter. 
        for example column mapping or search results. However if the container has a utility bar like search
        results use the in and out classes below. They adjecust left padding for when the filter is expanded
        or contracted. Otherwise for a standard sibling container use the class above **/
        &-out{
            @include calc-height(100vh, 63px);
            overflow-x: hidden;
            overflow-y: scroll;
            padding-left: 10px; 
            padding-top: 73px;
        }
        &-in{
            @include calc-height(100vh, 63px);
            overflow-x: hidden;
            overflow-y: scroll;
            padding-left: 325px; 
            padding-top: 73px;           
        }
        &-table{
            overflow-y: hidden;
            @include calc-height(100vh, 63px);
        }
    }
}