// ==================================================
// TOPNAV
// ==================================================

@mixin matero-topnav-theme($theme) {
  $background: mat-color($theme, 'background');
  $foreground: mat-color($theme, 'foreground');

  .matero-topmenu {
    background: mat-color($background, app-bar);
    color: mat-color($foreground, text);
  }
}

.matero-topmenu {
  position: sticky;
  z-index: 200;
  display: block;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  @include mat-elevation(2);

  .menu-label,
  .menu-badge {
    margin-left: 8px;
    font-size: 12px;

    [dir='rtl'] & {
      margin-left: auto;
      margin-right: 8px;
    }
  }

  .menu-badge {
    border-radius: 10px;
  }

  .menu-caret {
    margin-right: -8px;

    [dir='rtl'] & {
      margin-left: -8px;
      margin-right: auto;
    }
  }
}

.matero-topmenu-inner {
  padding: 8px;
  white-space: nowrap;
}

// Layout control
.matero-navbar-top {
  .matero-topmenu {
    top: 0;
  }

  .matero-branding {
    margin-left: 16px;

    [dir='rtl'] & {
      margin-left: auto;
      margin-right: 16px;
    }
  }
}

// Layout control
.matero-header-fixed {
  .matero-topmenu {
    top: $topmenu-sticky-position-desktop;

    @include bp-lt(small) {
      & {
        top: $topmenu-sticky-position-mobile;
      }
    }
  }
}


/////////////////
// -BACK BUTTON //
/////////////////
.back-button {
  position: relative;
  color: $blue-main;
  @include square(40px);
  border-radius: 20px;
  border: 2px $blue-main solid;
  background: transparent;
  padding: 6px;
  margin: 2px 10px 3px 0px;
  &:hover{
      border: 2px $blue-dark solid;
      color: $blue-dark;
      cursor: pointer;
  }
  &::after {
      font-family: "Material Icons";
      content: "\e317"; /** \E5CB */
      font-size: $f-28px;
      @include placement(absolute, 3px,null,null,3px);
  }

  &-white{
    @extend .back-button;
    border: 2px white solid;
    color:white;
    &:hover{
      border: 2px $yellow-main solid;
      color: $yellow-main;
      cursor: pointer;
  }
  }
}
