.matero-breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 1rem;
    list-style: none;
    border-radius: .25rem;
    font-size: .875rem;
  }
  
  .matero-breadcrumb-item {
    line-height: 18px;
    text-transform: capitalize;
  
    > a {
      color: currentColor;
  
      &:hover {
        text-decoration: underline;
      }
    }
  
    > .chevron {
      height: 18px;
      width: 18px;
      font-size: 18px;
      vertical-align: middle;
      user-select: none;
    }
  }
  