<div class="sx-utility-bar">
    <!--
    <sx-breadcrumb></sx-breadcrumb>
    --->
    <nav *ngIf="criteria && criteria.path" aria-label="breadcrumb">
        <ol class="matero-breadcrumb">
            <li class="matero-breadcrumb-item">
                <span class="link" (click)="gotoRootCommodities()">Commodity</span>
            </li>
          <li class="matero-breadcrumb-item"
              *ngFor="let item of criteria.path; first as isFirst; last as isLast">
              
              <!--
              <a href="/" class="link" *ngIf="isFirst">{{item.name}}</a>
              <span class="link" *ngIf="isFirst" (click)="gotoCommodity(item)">{{item.commodity_code}} {{item.commodity_name | truncate:10}}</span>
              -->
            <ng-container>
              <mat-icon class="chevron">chevron_right</mat-icon>
              <span *ngIf="!isLast" class="link" (click)="gotoCommodity(item)" matTooltip="{{item.commodity_code}} {{item.commodity_name}}" >{{item.commodity_code}} {{item.commodity_name | truncate:10}}</span>
              <span *ngIf="isLast" 
                    matTooltip="{{item.commodity_code}} {{item.commodity_name}}">
                    {{item.commodity_code}} {{item.commodity_name | truncate:20}}

                </span>
                <span *ngIf="isLast && dataCount>0" 
                    class="m-l-4" matTooltip="{{dataCount | number:'1.0-0'}} children commodities found.">
                    ({{dataCount | number:'1.0-0'}})
                </span>
            </ng-container>
          </li>
        </ol>
    </nav>
    <nav *ngIf="!(criteria && criteria.path)" aria-label="breadcrumb">
        <ol class="matero-breadcrumb">
          <li class="matero-breadcrumb-item">
              <span class="link" (click)="gotoRootCommodities()">Commodity</span>
          </li>
        </ol>
    </nav>
    <div class="flex-end">
        <button mat-icon-button [matMenuTriggerFor]="pageMenu" 
            class="mat-icon-button-24 m-t--16">
            <mat-icon>more_vert</mat-icon>
        </button>
        <!--
        <a mat-button href="javascript:void(0)" [matMenuTriggerFor]="menu">
            <img
              class="matero-user-avatar r-full align-middle"
              [src]="imageAvatarUrl"
              width="24"
              alt="avatar"
            />
            <span class="align-middle">Zongbin</span>
          </a>
        -->
        <mat-menu #pageMenu="matMenu">
            <button mat-icon-button color="secondary" (click)="gotoRootCommodities()" class="link f-w-300 p-l-4">
                <mat-icon class="link blue size-18 m-r-4">dashboard</mat-icon>
                <span>Dashboard</span>
            </button>
            <!--
            <a mat-menu-item (click)>
                <mat-icon>dashboard</mat-icon>
                <span>Dashboard</span>
            </a>
            <a routerLink="/projects/projects-list" mat-menu-item>
                <mat-icon>table_view</mat-icon>
                <span>Projects List</span>
            </a>
            <a routerLink="/projects/dashboard" mat-menu-item>
                <mat-icon>supervisor_account</mat-icon>
                <span>User List</span>
            </a>
            -->
        </mat-menu>
    </div>
</div>