/////////////////////
// -GLOBAL SETTINGS //
/////////////////////
input[type="radio"],
input[type="checkbox"]{
  display: none;
}
input:invalid {
    box-shadow:0 0 0px #fff;
}
.group 			  { 
    position:relative; 
    margin-bottom:20px;
  }
  

///////////////
// -CHECK BOX //
///////////////
.checkbox{
    &-container{
        padding: 10px 10px 0px 42px;
        font-size:14px;
        position: relative;
        label {
            position: relative;
            font-size: $f-16px;
        }
        span{
            &::before,
            &::after {
                content: '';
                @include placement(absolute, 0px, null, 0px, null);
                margin: auto;
            } 
            &.checkbox{
                 &::after {
                    top: -9px;
                    left: -30px;
                }
            }
            &.checkbox-labeled{
                &::after {
                    top: 2px;
                    left: -30px;
                }
                & > span{
                    padding: 0px 3px 0px 3px;
                }
            }
            // long-label': text.length >= 29
            &.long-label{
                 &::before {
                     top:-18px;
                 }
            }
            // long-label': text.length >= 58
            &.xl-long-label{
                 &::before {
                     top: -37px
                 }
            }
            &.checkbox,
            &.checkbox-labeled{
                 &::before {
                    @include square(27px);
                    position: absolute;
                    background-color: #fff;
                    left: -35px;
                    box-sizing: border-box;
                    border: 1px solid #999;
                    transition: border-color .2s;
                    border-radius: 5px;
                }
                &:hover::before {
                    border: 1px solid $yellow-main;
                }
                &::after {
                    @include icon("\E876");
                    font-size: $f-16px;
                    color: transparent;
                    transition: color .2s;
                }
            }
        }  
    } 
    &:hover{
        cursor:pointer;
    }
}

input[type="checkbox"]:checked {
    & + label span.checkbox::after,
    & + label span.checkbox-labeled::after {
        color: $yellow-main;
    }
    & + label span.checkbox::before,
    & + label span.checkbox-labeled::before{
        border: 1px solid $yellow-main;
    }
}

// Disabled checkboxes should look disabled/different. TSL-3022 KL 2020-05-13
input[type="checkbox"]:disabled {
    & + label span.checkbox::after,
    & + label span.checkbox-labeled::after {
        color: $gray-dark;
    }
    & + label span.checkbox::before,
    & + label span.checkbox-labeled::before{
        border: 1px solid $gray-dark;
    }
}


.listcard{
    
    & > mat-card {
        
        border-width: 0px;
        padding: 2px!important;
        @include size(auto, 75px);
        &:hover{
            color: $yellow-main;
            @include card-shadow-hover();
            transition: box-shadow 1s;
            cursor: pointer;
        }
        
        & > mat-card-content{
        
            @include size(100%);
            display: flex;
            & > img{
                margin: 2px;
                /*@include square(70px);*/
            }
            .content{
                @include flex-wrap;
                align-items: center;
                justify-content: space-between;
                padding: 15px;
                width: 100%;
            }

            .key-value-container{
                > .key-value-block
                > .key-value{
                    @include ellipsis(100%);
                }
            }

            
            
        }
    }

    &-checkbox-container{
        min-height:39px;
    }

    &-image{
        &-tall{
            @include size(auto, 70px);            
        }
        &-wide{
            @include size(70px, auto);
        }
    }
    
    &-container{
        margin-left: 13px;
        @include size(100%);
    }
    &-cards{
        &-container{
            @include flex-wrap;
            padding: 0px 0px 0px 0px;
        }
    }
    &-hr{
        margin-top:3px;
        margin-bottom: 3px;
        width: 100%;
    }
   
    &-key-value-container{
        > .key-value-block
        > .key-value{
            @include ellipsis(100%);
        }
    }
    &-buttons{
        @include placement(absolute, null, null, 0px, 0px);
        width: 100%;
        height: 52px;
        padding: 4px;
        background: $blue-dark;
    }
    
}