.scroll-box{
    @include calc-height(100vh, 146px);
    background: $scroll-gray;
    margin-bottom:20px;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;

    &-note{
        font-size: $f-14px;
        margin-left: 10px;
    }
    &-white{
        @extend .scroll-box;
        min-height: 250px;
        background: #fff;
        overflow-y: auto;
    }
    &-small{
        @extend .scroll-box;
        height: 200px;
    }
    &-290{
        @extend .scroll-box;
        height: 290px;
    }
    &-small-h90{
        @extend .scroll-box;
        height: 90px;
    }
    &-pad-3{
        @extend .scroll-box;
        padding: 3px!important;
    }
    &-100{
        @extend .scroll-box;
        height: 100%;
    }
    &-h100{
        @extend .scroll-box;
        min-height: 250px;
        @include calc-height(100vh, 315px);
    }
    &-h197{
        @extend .scroll-box;
        min-height: 150px;
        @include calc-height(100vh, 197px);
        &-w{
            @extend .scroll-box-h197;
            background: #fff;
        }
    }
    &-h290{
        @extend .scroll-box;
        min-height: 250px;
        @include calc-height(100vh, 290px);
    }
    &-h240{
        @extend .scroll-box;
        min-height: 250px;
        @include calc-height(100vh, 238px);
    }
    &-h160{
        @extend .scroll-box;
        background: #fff;
        overflow-y: auto;
        min-height: 250px;
        padding: 10px 5px!important;
        @include calc-height(100vh, 160px);
    }
}