
//------------------------------------------------//
// CARDS
//------------------------------------------------//
$sidebar-width: 5px;

/////////////////////
// -KEY VALUE BLOCK //
/////////////////////
.key{
    &-value-container{
        display: flex;
        flex-wrap: wrap;
    }
    &-value-block{
        padding: 10px;
        &-sm{
            width: 133.33px
        }
        &-med{
            width: 200px;
        }
        &-lrg{
            width: 350px;
        }
    }
    &-name{
        @include text($f-14px ,inherit, 600);
        &-icon-container{
            position: relative;
            height: 21px;
        }
    }
    &-value{
        @include text($f-16px,inherit, 200);
    }
}

////////////
// -BORDERS //
/////////////
.card-border{
    &-blue{
        border-left: solid $sidebar-width $blue-main;
    }
    &-yellow{
        border-left: solid $sidebar-width $yellow-main;
    }
}

///////////////////
//  DROP SECTION //
///////////////////
.column-drop-section{
    padding: 5px 10px 5px 10px;
    width: 280px;
    min-height: 80px;
    border: solid 1px $gray-dark;
    /*border-top: solid 1px $gray-dark;*/
}
.drop-section{
    margin: 5px;
    padding:5px 10px 5px 10px;
    @include size(100%, 60px);
    @include flex-center;
    background: #ccc;
    border: 2px dashed $gray-dark;
}


.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .cdk-drop-list-receiving .drop-section {
      opacity: 0.85;
  }

  .cdk-drop-list-dragging .drop-section{
      display: none;
  }

  .drop-section-placeholder {
    background: #ccc;
    border: dotted 3px #999;
    min-height: 60px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .cdk-drop-list-dragging .cdk-drag {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  /* Animate an item that has been dropped. */
  .cdk-drag-animating {
    transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
  }
  


/////////////////
// -SIMPLE CARD //
/////////////////
.simple-card{
    position: relative;
    margin: 5px;
    width: 250px;
    min-height: 60px;
    /*min-height: 119px;*/
    background: #fff;
    padding:5px 10px 5px 10px;
    & > .close {
        @include placement(absolute, 2px, 0px);
        opacity: 0.85;
        font-size: 20px;
        &:hover{
            cursor: pointer;
            opacity: 1;
            color: $blue-main;
        }
    }
    &-title{
        @include ellipsis(190px);
    }
    &-content{
        margin-top:10px;
        font-size: $f-12px;
        text-overflow: ellipsis; 
        overflow: hidden;
        white-space: nowrap
    }
}


/////////////////
// -SIMPLE LIST //
/////////////////
.simple-list{
    margin: 10px;
    @include size(auto, 80px);
    background: #fff;
    padding:15px;
    & > .close {
        @include placement(absolute, 5px, 9px);
    }
    &-title{
        @include ellipsis(190px);
    }
    &-content{
        margin-top:10px;
        font-size: $f-12px;
        white-space: nowrap;
    }
}

.simple-logo-card{
    align-items: center;
    justify-content: center;
    display: flex;
    &:hover{
        .simple-logo-card-overlay{
            -webkit-transition: opacity .6s;
            -moz-transition: opacity .6s;
            -o-transition: opacity .6s;
            transition: opacity .6s;
            opacity: 0.85;
            @include placement(absolute,0px,null,null,0px);
        }
        .simple-logo-card-name{
            -webkit-transition: opacity .6s;
            -moz-transition: opacity .6s;
            -o-transition: opacity .6s;
            transition: opacity .6s;
            opacity: 1;
        }
        cursor: pointer;
    }
    &-name{
        opacity: 0;
        position: absolute;
        width: 175px;
        color:#fff;
    }
    &-default{
        width: 200px;
        padding: 20px;
    }
    &-overlay{
        background-color: $blue-main;
        @include square(100%);
        opacity: 0;
        position: absolute;
    }
    @include square(200px);
    padding: 20px;
    margin: 0px 18px 18px 0px;
    &-image{
        &-tall{
            @include size(auto, 150px);            
        }
        &-wide{
            @include size(150px, auto);
        }
    }
}

////////////////////////
// -SIMPLE "MORE" CARD //
////////////////////////

.simple-more-card{
    @include size(300px);
    padding:15px 15px 15px 25px;
    margin: 5px;
    &-side-bar{
        @include placement(absolute,0px,null,null,0px);
        @include size($sidebar-width, 100%);
        background: $blue-main;
        &-active{
            @extend .simple-more-card-side-bar;
            background: $light-blue; 
        }
        &-submit{
            @extend .simple-more-card-side-bar;
            background: $green; 
        }
        &-disabled{
            @extend .simple-more-card-side-bar;
            background: $gray-dark;
        }
        &-pending{
            @extend .simple-more-card-side-bar;
            background: $yellow-light;
        }
    }
    &-name{
        @include ellipsis(100%);
        margin-top: 10px;
        @include text($f-16px,$font,600);
        height:40px;
    }
    &-value-block{
        padding:5px 5px 5px 0px;
        &-double{
            padding:5px 5px 5px 0px;
            height: 75px;
        }
        &-single{
            padding:5px 5px 5px 0px;
            height: 51px;
        }
    }
    &-warning{
        @include placement(absolute, -40px, null, null, 0px);
        @include size(100%, 40px);
        background:$yellow-light; 
        color:$blue-main; 
        padding:5px;
        display: flex;
        align-items: center;
    }
    &-more{
        &-container{
            position: absolute;
            @include square(100%);
            background: #fff;
            padding: 15px 15px 15px 15px;
            margin: -15px 0px 0px -25px;
            .dist-request-form{
                height:233px;// this keeps height of form with toggling.
            }
        }
        &-link{
            height: 24px;
        }
    }
    
}


//////////////////
// -User Card   //
////////////////

.user-card{
    margin: 5px;
    width: 270px;
    padding: 20px 10px 10px 10px!important;
  
    &-side-bar{
      @include placement(absolute,0px,null,null,0px);
      @include size($sidebar-width, 100%);
      background: $blue-main;
      &-active{
          @extend .simple-more-card-side-bar;
          background: $light-blue; 
      }
      &-submit{
          @extend .simple-more-card-side-bar;
          background: $green; 
      }
      &-disabled{
          @extend .simple-more-card-side-bar;
          background: $gray-dark;
      }
      &-pending{
          @extend .simple-more-card-side-bar;
          background: $yellow-light;
      }
    }
    
    &-body{
        height: 185px;
    }
    .mat-card-header{
        overflow: hidden;
    }
    
    .mat-card-image{
        @include size(100px, 100px);
    }
  
    &-more {
      position: absolute;
      width: 100%;
      height: 100%;
      background: #ffffff;
      padding: 15px 15px 15px 15px;
      margin: -15px 0px 0px -20px;
    }
  
    .scroll-box {
      height: 162px;
      margin-bottom: 0px;
    }
  }

////////////////
// -SIDE TAB   //
////////////////

/** use this.expandTabVar = this.expandTabVar === Animate.in ? Animate.out : Animate.in; for side tab,
see example in quote summary component. **/
.side-tab{
    background: $blue-main;
    &-yellow{
        @extend .side-tab;
        background: $yellow-main;
        &:hover{
            background: $yellow-light;
            cursor: pointer;
        }

        .key-value-block{
            width: 200px;
            overflow: hidden;
        }
    }
    @include size (72px, 64px);
    @include placement(absolute, 33% ,0px,null,null);
    @extend .flex-align-items;
    padding-left:10px;
    color:#ffffff;
    &:hover{
        background: $light-blue;
        cursor: pointer;
    }
    @include med-window {
        & {
            display: none;
        }
    }
    & > i {
        font-size: 50px; 
    }
    &-content{
        white-space: nowrap;
        width: 100%;
        margin-left: 10px;
    }
}


////////////////////////
// -QUOTE SUMMARY CARD //
////////////////////////
.quote-summary{
    &-image{
        &-container{
            @include placement(absolute, 0px);
            @extend .center-center;
            @include size(150px,100%);
        }
        &-tall{
            @include size(auto, 147px);            
        }
        &-wide{
            @include size(147px, auto);
        }
    }
    &-card{
        min-height: 260px;
        .key-value-block{
            padding: 5px;
        }
        &-action-container{
            padding-left:120px;
        }
        &-button-blocks{
            height: 259px;
        }
        // DESKTOP
        &-desktop{
            display: block;
            @include xl-window{
                display: none;
            }
        }
        // MOBILE        
        &-mobile{
            display:none;
            @include xl-window{
                display: block;
            }
        }
        &-spacer{
            height:103px;
            @include xl-window{
                height:61px;
            }   
        }
        &-side-bar{
            @include placement(absolute,0px,null,null,0px);
            @include size($sidebar-width, 100%);
        }
    }
}

////////////////////
// -COMMODITY CARD //
////////////////////

.commodity-card{
    &-ad{
        @include placement(absolute, 99px, 10px);
        // sit the ad above the blue overlay
        z-index: 2;   
    } 
}

.tree-card{
    margin: 0px 20px 20px 0px;
    position: relative;
    padding:8px 0px 8px 0px !important;
    @include size(340px);
    &:hover{
        color: $yellow-main;
        @include card-shadow-hover();
        transition: box-shadow 1s;
        cursor: pointer;
        .tree-card-title{
            color: $yellow-main;
        }
    }
    &-image{
        text-align: center;
        overflow: hidden;
        height:131px;
        &-tall{
            @include size(auto, 110px); 
            padding-top: 10px;           
        }
        &-wide,
        &-preload{
            padding-top: 2px;
            max-width: 300px;
            max-height: 115px;
        }
        // Defualt image is currentley the Unsplash toolset  ( nick 05-31-18 )
        &-default{
            @include size(360px, 131px);
        }
    }
    &-blue-overlay{
        opacity: .5;
        background-color: $blue-main;
        @include placement(absolute, 0px);
        @include size(100%,130px);  
        z-index: 1;
    }
    &-child{
        @extend .tree-card;
        min-height: 330px;
    }
    &-title{
        text-align: center;
        @include ellipsis(330px);
        margin:20px 10px 20px 10px;
        color: $font;
        @extend .size-14;
    }
   
}
