
.mat-drawer{
    &-content{
        overflow: hidden !important;
        
    }
}

.sx-drawer{

    &-container{
       /* @include placement(absolute, -1px, -16px, -16px, -16px);*/
        height: calc(100vh - 68px) !important;
       

        .mat-drawer-content{
            height:calc(100vh - 68px) !important;
                /*
            .matero-page-header{
                height: 100px!important;
                width:auto!important;
                margin: 0px!important;
                .matero-page-title{
                    padding:10px 0px;
                } 
                
            }
            */
            .matero-page-content {
                @extend .scroll-box;
                height:calc(100vh - 152px) !important;
                margin-bottom: 0px;
                padding-bottom: 0px;
            }
        }
        
    }

    &-head{
        display: flex;
        width: 100%;
        align-content: space-between;
    }

    &-left{
        width: 318px;
        
        
        .sx-drawer-content{
            @extend .scroll-box;
            /*height:calc(100vh - 80px) !important;
            margin: 16px 0px 0px 16px;*/
            padding: 0px;
            display: block;
            background:transparent!important;
            overflow-y: auto;

            .clear-button-container{
                margin-top: 10px;
                margin-right: 10px;
                min-height: 30px;
                opacity: 0.6;
                position: absolute;
                top: 16px;
                right: 10px;
            }
        }
        
    }

    
   
}