
/*********************
* MAT TABLE
**********************/
.mat-table {
    width: 100%;
  
    & > thead > tr,
    & > tbody > tr,
    & > tfoot > tr {
        & > th, & > td {
  
            &:first-child {
                padding-left: 8px;
            }
            
            &:last-child {
                padding-right: 8px;
            }
  
            &:first-of-type {
              padding-left: 8px!important;
            }
            &:last-of-type {
              padding-right: 8px!important;
            }
            
            .mat-header-cell, 
            .mat-cell, 
            .mat-footer-cell{
              .txt-ell{
                white-space: nowrap!important;
                overflow: hidden;
                text-overflow: ellipsis!important;
                &-200{
                  @extend .txt-ell;
                  width:200px;
                }
                &-300{
                  @extend .txt-ell;
                  width:300px;
                }
                &-m200{
                  @extend .txt-ell;
                  min-width:200px;
                }
                  
              }
            }
           
            
        }
    }
    
  }
  
  .txt-ell{
    white-space: nowrap!important;
    overflow: hidden;
    text-overflow: ellipsis!important;
    margin: auto 8px;    
         
    &-80{
      @extend .txt-ell;
      width: 80px;
      max-width: 150px;
      
    }
    &-120{
      @extend .txt-ell;
      width:120px;
      max-width: 150px;
      
    }
    &-200{
      @extend .txt-ell;
      width:200px;
      max-width: 250px;
      
    }
            
    &-300{
      @extend .txt-ell;
      width:300px;
      max-width: 350px;
      
    }
    &-50p{
      @extend .txt-ell;
      width:50%!important;
      flex: 1 2 100px;
      white-space: normal!important;
    }
    &-30p{
      @extend .txt-ell;
      width:30%!important;
      flex: 1 2 100px;
      white-space: normal!important;
    }
    &-full{
      @extend .txt-ell;
      width:100%!important;
      flex: 1 2 100px;
      white-space: normal!important;
    }
      
  }
  
  
  .sxtable {
      &-container{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: auto;
        padding: 0px 0px 0px 8px!important;
  
        &-full{
            @extend .sxtable-container;
            display: flex;
            flex-direction: column;
            flex: 1;
            height: calc(100vh - 115px) !important;
        }
  
        &-tab{
          @extend .sxtable-container;
          display: flex;
          flex-direction: column;
          flex: 1;
          height: calc(100vh - 106px) !important;
          background-color:#fff!important;
          position: relative;
         
        }
  
        &-toolbar{
          @extend .sxtable-container;
          display: flex;
          flex-direction: column;
          flex: 1;
          height: calc(100vh - 170px) !important;
      }
     
      table {
        width: 100%;
       
      }
      .mat-paginator{
        position: relative;
        bottom: 0;
        right: 0px;
      }
    }
  
    &-body{
      display: block;
      width: 100%;
      height: calc(100vh - 162px) !important;
      overflow: auto;
  
      &-toolbar{
        @extend .sxtable-body;
        height: calc(100vh - 226px) !important;
      }
    }
  
    &-toolbar{
      width: 100%;
    }
  
    width: 100%;
    overflow-x: auto;
    .mat-table {
        width: 100%;
        /*max-width: 100%;*/
        margin-bottom: 1rem;
        /*display: table;*/
        border-collapse: collapse;
        margin: 0px;
    }
  
    .mat-header-row .mat-table-sticky {
      background: #59abfd;
      opacity: 1;
    }
  
    .mat-row,
    .mat-header-row {
        display: table-row;
    }
    .mat-cell,
    .mat-header-cell {
        word-wrap: initial;
        display: table-cell;
        flex: 0 0 100px;
        padding: 0px 5px;
        line-break: unset;
        width: auto;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
    }
  
    td.mat-cell{
      white-space: nowrap;
    }
    
  }
  
  .sxtable-loading {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0px;
      right: 0;
      background: rgba(0, 0, 0, 0.15);
      z-index: 101;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  /*
  #table, .mat-table {
      flex: 1 1 auto;
      width: 100%;
      position: relative;
    }
    */
    
    .mat-header-row, .mat-row{
      height: 36px!important;
    }
    
    .mat-row{
      min-height: 36px!important;
    }
    
    .mat-checkbox{
      padding-right: 15px;
    }
    
    