///////////////////
// TILE          //
///////////////////
.tile{
    padding:10px;
    & > mat-card {
        
        border-width: 0px;
        padding: 0px!important;
        text-align: center;
        &:hover{
            color: $yellow-main;
            @include card-shadow-hover();
            transition: box-shadow 1s;
            cursor: pointer;
        }
        
        & > mat-card-subtitle{
            position: absolute;
            bottom: 0;
            left: 0;
            margin-bottom: 0px;
            background-color: white;
            padding:20px;
            text-align: center;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 400;
            color: $blue-main;
            width: 100%;
            
        }

        & > mat-card-content{
        
            @include size(auto, 300px);
            text-align: center;
            display: block;
            & > img{
                padding:24px 0px 0px 0px;
            }
            
        }
    }
       
    
}  
.tile{
    &-mfr{
        & > mat-card {
            background-image: url('/assets/images/common/mfr.jpg');
            background-size: cover;
        }
    }
    &-project{
        & > mat-card {
            background-image: url('/assets/images/common/project-header.jpg');
            background-size: cover;
        }
    }
    &-distributor{
        & > mat-card {
            background-image: url('/assets/images/common/storage-small.jpg');
            background-size: cover;
        }
    }
    &-contractor{
        & > mat-card {
            background-image: url('/assets/images/common/contractor-bg-01.jpg');
            background-size: cover;
        }
    }
    &-price-file{
        & > mat-card {
            background-image: url('/assets/images/common/file-processing-backfround.jpg');
            background-size: cover;
        }
    }
    &-commodity{
        & > mat-card {
            background-image: url('/assets/images/common/commodity-header.jpg');
            background-size: cover;
        }
    }
    &-mfr{
        &-items{
            & > mat-card {
                background-image: url('/assets/images/common/mfr-header.jpg');
                background-size: cover;
            }
        }
    }
    
}


$overlay-green: rgba(0, 204, 0, 0.849);
$overlay-blue: rgba(53, 68, 151, 0.849);
$overlay-brown: rgba(198, 140, 83, 0.849);
$overlay-yellow: rgba(255, 255, 0, 0.849);
$overlay-orange: rgba(255, 139, 0, 0.849); 

.tile-graphic{
    @include size(auto, 200px);
}
.tile-graphic-180{
    @include size(auto, 180px);
}

.overlay{
    background-color: rgba(0, 95, 158, 0.692);
    &-blue{
        background-color: $overlay-blue!important;
        &:hover{
            background-color: darken($overlay-blue, 15%)!important;
            cursor: pointer;
        }
    }
    &-brown{
        background-color: $overlay-brown!important;
        &:hover{
            background-color: darken($overlay-brown, 15%)!important;
            cursor: pointer;
        }
    }
    &-yellow{
        background-color:$overlay-yellow;   
        &:hover{
            background-color: darken($overlay-yellow, 15%);
            cursor: pointer;
        }           
    }
    &-orange{
        background-color:  $overlay-orange, 15%!important;  
        &:hover{
            background-color: darken($overlay-orange, 15%)!important;
            cursor: pointer;
        }             
    }
    &-green{
        background-color: $overlay-green;  
        &:hover{
            background-color: darken($overlay-green, 15%);
            cursor: pointer;
        }             
    }
}

page-title {
    margin-bottom: 0px;
    padding-top: 5px;
    padding-left: 5px;
    font-size: 1.125em;
    color: #005F9E;
    font-weight: 400;
}

.bg{
    &-mfr{
        background-image: url('/assets/images/common/mfr.jpg');
        background-size: cover;
    }
    &-distr{
        background-image: url('/assets/images/common/storage-small.jpg');
        background-size: cover;
    }
    &-contr{
        background-image: url('/assets/images/common/contractor-bg-01.jpg');
        background-size: cover;
    }
}