<div class="flex-align-items" >
        <div class="btn-round"><i class="material-icons">file_upload</i></div>
        <span *ngIf="!uploadedFile" class="p-l-8">NO FILE CHOSEN</span>
        <div *ngIf="uploadedFile" class="col-11 flex flex-align-items flex-space-between p-l-8" >
                <div matTooltip="{{uploadedFile}}" matTooltipPosition="{{position}}" 
                container="body" class="uploaded-file">FILE - {{uploadedFile}}</div>
                <div *ngIf="size" class="flex-end  p-l-8" style=" white-space: nowrap;">({{ size | sxfilesize}})</div>
        </div>
</div>