<mat-card class="user-card">
    <mat-card-header>
        
        <div class="context-menu">

            <div *ngIf="user.user_role === roleOpt.Admin"  class="size-12 blue-light flex-align-items m-r-4">
                <i class="material-icons size-18 m-r-4">perm_identity</i> ADMIN
            </div>
            <div *ngIf="user.user_role === roleOpt.CompanyAdmin"  class="size-12 blue-light flex-align-items m-r-4">
                <i class="material-icons size-18 m-r-4">business</i> COMPANY
            </div>
            <div *ngIf="user.is_receive_emails"  class="size-12 blue-light flex-align-items m-r-4">
                <i class="material-icons size-18 link" (click)="sendEmailClick()" matTooltip="Click to send an email to user.">email</i>
            </div>

            <button mat-icon-button [matMenuTriggerFor]="userContextMenu" class="mat-icon-button-24"
                aria-label="Context Menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #userContextMenu="matMenu" xPosition ="before">
                <a mat-menu-item *ngIf="user.is_receive_emails" (click)="sendEmailClick()">
                    <mat-icon>email</mat-icon>
                    <span>Send E-Mail</span>
                </a>
                <a mat-menu-item *ngIf="isAdmin" (click)="editUserClick()" class="link">
                    <mat-icon class="blue link">edit</mat-icon>
                    <span>Edit User</span>
                </a>
            </mat-menu>
            
        </div>
        
        <img mat-card-avatar class="matero-user-avatar r-full align-middle"
            [src]="imgUrl" width="24" 
            alt="avatar" />
        <mat-card-title>{{user.user_name}}</mat-card-title>
        <mat-card-subtitle class="ellipsis">{{user.e_mail}}</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content class="flex-wrap m-t-8">

        <img mat-card-image [src]="imgUrl" alt="{{user.user_name}}" class="m-0">
        <div class="key-value-container" style="width: 150px;">
            <div *ngIf="user.adate" class="key-value-block-sm m-l-16">
                <div class="key-name">Created On</div>
                <div class="key-value flex-align-items">
                        <i class="material-icons size-18 m-r-4">event_note</i>
                        <span>{{user.adate | date:'MMM d, y'}}</span>
                </div>
            </div>
            <div *ngIf="user.udate" class="key-value-block-sm m-l-16">
                <div class="key-name">Updated On</div>
                <div class="key-value flex-align-items">
                        <i class="material-icons size-18 m-r-4">event_note</i>
                        <span>{{user.udate | date:'MMM d, y'}}</span>
                </div>
            </div>
        </div>
    </mat-card-content>
    <!--
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
    -->
</mat-card>