 <!-- Title -->
 <div class="title-container">
    <div class="modal-title">COMPANY DETAIL</div>
</div>
<hr>
<div *ngIf="!company">No Data</div>

 <div class="m-t-0">

    <div class="side-panel-sec" *ngIf="company">
        <div class="side-panel-sec-rows">
            <!--
            <div class="sp-row">
                <img class="m-b-8 r-full" [src]="logoUrl" alt="logo" width="80">
                <img *ngIf="sxLiveryUrl" class="m-b-0" [src]="sxLiveryUrl" alt="Livery" width="160">
                <img *ngIf="sxLogoUrl" class="m-b-0 r-full" [src]="sxLogoUrl" alt="Livery" width="50">
            </div>
        -->
            <div class="sp-row">
                <div class="sp-label" matTooltip="Company Name">Name</div>
                    <div class="sp-value">
                    <div class="flex-align-items flex-space-between">
                        <span>{{company.company_name}}</span>
                        <img class="m-b-8" [src]="logoUrl" alt="logo" width="80">
                    </div>
                </div>
            </div>
            <div class="sp-row">
                <div class="sp-label" matTooltip="Branch">Branch</div>
                    <div class="sp-value">
                    <div class="flex-align-items">
                        <span>{{company.branch_code}}</span>
                    </div>
                </div>
            </div>
            <div class="sp-row">
                <div class="sp-label" matTooltip="Created On">Created On</div>
                <div class="sp-value">
                    <div class="flex-align-items">
                        <i class="material-icons size-18 m-r-4">event_note</i>
                        <span>{{company.adate | date:'MMM d, y'}}</span>
                        
                    </div>
                </div>
            </div>
            <div class="sp-row">
                <div class="sp-label" matTooltip="Country">Country</div>
                <div class="sp-value">
                    <sx-country-line class="text-grey-500 f-w-300" [country]="country"></sx-country-line>
                </div>
            </div>
            <div class="sp-row">
                <div class="sp-label" matTooltip="Country">ID</div>
                <div class="sp-value">
                    <span>{{company.company_id}}</span>
                </div>
            </div>
        </div>
        
    </div><!-- sec end -->

    <div class="side-panel-sec m-t-24" *ngIf="company">
        <div class="side-panel-sec-title">SX Livery / Logo</div>
        <div class="side-panel-sec-rows">
            <div class="sp-row flex-space-between">
                <img *ngIf="sxLiveryUrl" class="m-b-0" [src]="sxLiveryUrl" alt="Livery" width="160">
                <img *ngIf="sxLogoUrl" class="m-b-0" [src]="sxLogoUrl" alt="Livery" width="50">
            </div>
        </div>
    </div><!-- sec end-->

    <div class="side-panel-sec m-t-24" *ngIf="company">
        <div class="side-panel-sec-title">Contacts</div>
        <div class="side-panel-sec-rows">
            

        </div>
        
    </div> <!-- sec end-->

    <div class="side-panel-sec m-t-24" *ngIf="company">
        <div class="side-panel-sec-title">Notes</div>
        <div class="side-panel-sec-rows">
            <div class="scroll-box-small-h90">{{company.notes}}</div>

        </div>
        
    </div> <!-- sec end-->
 </div>
