<sx-page-header class="p-t-32 p-b-48 m-b--24"
    [title]="'My Company'"
    [panelIn]="panelIn"
    (expandFilterPanel)="expandFilterPanelClick()"
    [showBreadCrumb]="false"
    [ngClass]="{'bg-mfr overlay-blue' : companyType === 1,
                'overlay-brown' : companyType === 2,
                'bg-contr overlay-green' : companyType === 3}">
</sx-page-header>

<div fxLayout="row wrap" class="matero-row">

  <sx-filter-panel [@TogglePanelTrigger]='panelVar' [panelVar]="panelVar"  (closePanel)="closeFilterPanel()">
    <mat-card>
      <div class="text-center">
        <img class="m-b-8 r-full" [src]="logoUrl" alt="logo" width="80">
        <h2 class="m-t-0 m-b-8 f-w-400">{{company.company_name}}</h2>
        <p class="m-t-0 m-b-8">{{company.branch_code}}</p>
        <sx-country-line class="text-grey-500 f-w-300" [country]="country"></sx-country-line>
        <!--
        <p class="m-t-0 text-grey-500">I like reading, writing and drawing.</p>
        -->
        <!-- -MENU -->
        <div class="matero-user-panel-icons text-nowrap text-left m-t-8">
          <a  mat-icon-button  (click)="goToDashboard()"
              matTooltip="My Company"
              matTooltipPosition="above">
              <mat-icon class="icon-18 link-gray">home</mat-icon>
          </a>
          <a  mat-icon-button  (click)="comapnyUsers()" class="m-r-16"
              matTooltip="Company Users"
              matTooltipPosition="above">
              <mat-icon class="icon-18 link-gray">supervisor_account</mat-icon>
          </a>
          <a mat-icon-button (click)="companyEdit()"
              matTooltip="Edit Company"
              matTooltipPosition="above">
              <mat-icon class="icon-18 link">edit</mat-icon>
          </a>
          <a  mat-icon-button  (click)="updateLivery()" class="m-r-16"
              matTooltip="Generate New Company Livery Image"
              matTooltipPosition="above">
              <mat-icon class="icon-18 link">wallpaper</mat-icon>
          </a>
          <a mat-icon-button *ngIf="isDistributor" (click)="priceFileUpload()"
              matTooltip="Price File Upload"
              matTooltipPosition="above">
              <mat-icon class="icon-18 link-green">cloud_upload</mat-icon>
          </a>
          
      </div>
      </div>
      <mat-nav-list class="m-x--16 m-b--16 m-t-0">
        <mat-divider inset></mat-divider>
        <div mat-list-item class="flex-align-items flex-space-between m-l-8 m-r-8">
          <img *ngIf="sxLiveryUrl" class="m-b-0" [src]="sxLiveryUrl" alt="Livery" width="160">
          <img *ngIf="sxLogoUrl" class="m-b-0 r-full" [src]="sxLogoUrl" alt="Livery" width="50">
        </div>
        
        <mat-divider inset></mat-divider>
        <a mat-list-item (click)="comapnyUsers()">
          <mat-icon class="icon-18 m-r-8">supervisor_account</mat-icon> Users
        </a>
        <mat-divider inset></mat-divider>
        <a mat-list-item routerLink="/profile/settings">
          <mat-icon class="icon-18 m-r-8">settings</mat-icon> Settings
        </a>
      </mat-nav-list>
    </mat-card>
  </sx-filter-panel>
  <!--
  <div class="matero-col" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="33.33" fxFlex.gt-md="25">
    
  </div>
-->
  <div class="matero-col matero-fill" >
    <router-outlet></router-outlet>
  </div>
</div>