<div matTooltip="{{message}}" matTooltipPosition="{{position}}" 
  container="body"
  [ngClass]="{
    'btn-round' : color === undefined, 
    'info-btn' : color === 'light', 
    'btn-round-red' : color === 'red',
    'btn-round-disabled' : disabled}">
  <!-- button has a message -->
  <i class="material-icons">{{icon}}</i>
</div>