<!-- *ngIf="showLoader" -->
<div id="globalLoader" [@openClose]="isOpen ? 'open' : 'closed'" class="global-loader">
    <h1>LOADING</h1>
</div>
<!-- *ngIf="showLoader" 
<div class="page-loader">
    <div class="preloader pls-blue">
        <svg class="pl-circular" viewBox="25 25 50 50">
            <circle class="plc-path" cx="50" cy="50" r="20"></circle>
        </svg>
        <p *ngIf="loaderMessage">{{loaderMessage}}</p>
        <p *ngIf="!loaderMessage">Please wait...</p>
    </div>
</div>
-->