<div class="flex-align-items flex-space-between w-full p-4">
    
    <div class="modal-title flex-start m-l-4" >ITEM FILE</div>
    <div  class="w-45 flex-end" style="min-width: 45px;">
        <sx-format-control 
            (click)="closePanelClick()" 
            label="" color="blue"
            icon="keyboard_arrow_left">
        </sx-format-control>
    
    </div>
</div>
<hr class="m-t-0">
<div  class="flex-align-items flex-space-between f-s-14"> 

    <div class="flex-start" style="width: 220px;">
        <div *ngIf="company" class="flex-start flex-align-items padding-left-5">
            <img  *ngIf="logoUrl"  class="m-l-8 m-b-0 r-full" [src]="logoUrl" alt="logo" width="80">
            <img  *ngIf="!logoUrl"  class="m-l-8 m-b-0 r-full" [src]="sxLiveryUrl" alt="livery" width="80">
            <div class="f-s-18  m-l-4 m-b-0 link ellipsis" 
                style="width: 100px;">
              {{company.company_name | truncate:18}}
            </div>
            <div *ngIf="company.branch_code"class="f-s-18 m-l-4 m-b-0 link ellipsis" 
                style="width: 40px;">
              {{company.branch_code | truncate:8}}
            </div>
        </div>
    </div>
    <!-- -Actions -->
    <div class="flex-end p-r-8" style="width: 60px;">
        <div class="flex-align-items">
            <!-- EDIT DROP DOWN  -->
            <div class="" ngbDropdown  *ngIf="company">
                <sx-format-control 
                    class="link size-18"
                    label="" color="light"
                    [matMenuTriggerFor]="projectMenu"
                    icon="calendar_view_day">
                </sx-format-control>
                <mat-menu #projectMenu="matMenu">

                    <button mat-menu-item (click)="refresh()" class="green">
                        <mat-icon class="green">refresh</mat-icon> 
                        <span>Refresh Company</span>
                    </button>
                    <button mat-menu-item (click)="companyEdit()"
                        class="link"
                        matTooltip="Edit Company"
                        matTooltipPosition="above">
                        <mat-icon class="link blue">edit</mat-icon> 
                        <span>Edit Company</span>
                    </button>
                    <!--
                    <button mat-menu-item (click)="updateLivery()"
                        class="link"
                        matTooltip="Generate New Company Livery Image"
                        matTooltipPosition="above">
                        <mat-icon class="link blue">wallpaper</mat-icon> 
                        <span>Generate Livery</span>
                    </button>
                    -->
                    <button mat-menu-item class="link" (click)="spmCompanyOpenClick()">
                        <mat-icon class="link blue">info</mat-icon> 
                        <span>Project Details</span>
                    </button>

                </mat-menu>
                
        </div>

          <!-- REFRESH -->
          <sx-button-round 
              message="Show Company Details" tooltipPlacement="bottom"
              class="p-0" color="light"
              (click)="spmCompanyOpenClick()" 
              icon="info"> 
          </sx-button-round>
        </div>
    </div>
</div>