<sx-breadcrumb></sx-breadcrumb>
<sx-page-header class="p-t-32 p-b-48 m-b-24 bg-blue-800"
             [title]="'Select your company type:'"
             [showBreadCrumb]="false">
</sx-page-header>
<div class="matero-row" fxLayout="row wrap">
    <div class="matero-col tile tile-distributor" fxFlex.gt-sm="50" fxFlex="100">
        <mat-card (click)="selectCompanyType(2)">
            <mat-card-subtitle>Distributor</mat-card-subtitle>
            <mat-card-content  class="overlay-brown">
                <img class="tile-graphic-180" src="/assets/images/common/dist-graphic-white.png" alt="Distributor">
            </mat-card-content>
        </mat-card>
    </div>
    
    <div class="matero-col tile tile-contractor" fxFlex.gt-sm="50" fxFlex="100">
        <mat-card (click)="selectCompanyType(3)">
            <mat-card-subtitle>Contractor</mat-card-subtitle>
            <mat-card-content  class="overlay-green">
                <img class="tile-graphic-180" src="/assets/images/common/manage-contactors-white.png" alt="Contractor">
            </mat-card-content>
        </mat-card>
    </div>
  
    <div class="matero-col tile tile-mfr" fxFlex.gt-sm="50" fxFlex="100">
        <mat-card  (click)="selectCompanyType(1)">
            <mat-card-subtitle>Manufacturer</mat-card-subtitle>
            <mat-card-content  class="overlay-blue">
                <img class="tile-graphic-180" src="/assets/images/common/mfr-graphic-white.png" alt="Manufacturer">
            </mat-card-content>
        </mat-card>
    </div>
</div>