
<sx-page-header class="p-t-32 p-b-48 m-b-24"
    [title]="title"
    [showBreadCrumb]="false"
    [ngClass]="{'bg-mfr overlay-blue' : companyType === 1,
                'overlay-brown' : companyType === 2,
                'bg-contr overlay-green' : companyType === 3}">
</sx-page-header>
<div class="matero-row" fxLayout="row wrap">
    <div class="matero-col" fxFlex="100" >
        <form [formGroup]="fdCompany" class="matero-form-horizontal">
            <mat-card>
                <mat-card-title>Name and Branch</mat-card-title>
                <mat-card-subtitle>Please, enter your company name and short abbreviation (bramch) for your head quarter</mat-card-subtitle>
                <div fxLayout="row wrap" fxLayoutGap="32px grid">

                    <div fxFlex="50" fxFlex.lt-sm="100">
                        <mat-form-field floatLabel="always" appearance="standard">
                            <mat-label>Name</mat-label>
                            <input matInput  placeholder="Company Name Ltd"  formControlName="company_name" required >
                            <mat-error *ngIf="company_name.invalid">{{fError('company_name')}}</mat-error>
                        </mat-form-field>
                    </div>

                    <div fxFlex="50" fxFlex.lt-sm="100">
                        <mat-form-field floatLabel="always" appearance="standard">
                            <mat-label>Branch</mat-label>
                            <input matInput  placeholder="HQ"  formControlName="branch_code" required >
                            <mat-error *ngIf="branch_code.invalid">{{fError('branch_code')}}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout="row wrap" fxLayoutGap="32px grid">

                     <!-- Country -->
                     <div fxFlex="50" fxFlex.lt-sm="100" class="flex-align-items">
                         <div style="width: 50px;">
                            <img *ngIf="selCountry" class="flag-18 m-r-4" [src]="selCountry.flagUrl" alt="flag">
                         </div>
                        <mat-form-field>
                            <input matInput placeholder="Country"
                                aria-label="Country"
                                [matAutocomplete]="countryAuto"
                                [formControl]="country" required>
                                
                            <mat-autocomplete #countryAuto="matAutocomplete" 
                                [displayWith]="displayCountry" 
                                (optionSelected)="countryValueChange($event)">
                            <mat-option *ngFor="let option of countryOpt | async"  [value]="option">
                                <div class="flex flex-align-items">
                                    <img class="flag-16 m-r-4" [src]="option.flagUrl" alt="flag">
                                    <div class="m-r-4">{{option.country_name}}</div>
                                    <div>{{option.country_iso2}} - {{option.region_name}}</div>
                                </div>
                            </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>

                    <div fxFlex="50" fxFlex.lt-sm="100">
                        <mat-form-field floatLabel="always" appearance="standard" *ngIf="isManufacturer">
                            <mat-label>EAN Manufacturer Code</mat-label>
                            <input matInput  placeholder="EAN Manufacturer Code"  formControlName="ean_mfr_code" >
                            <mat-error *ngIf="ean_mfr_code.invalid">{{fError('ean_mfr_code')}}</mat-error>
                        </mat-form-field>
                    </div>

                </div>
                
                
                <!--
                <button mat-raised-button color="primary">Search</button>
                -->
             
            </mat-card>
            <mat-card>
                <mat-card-subtitle>Branding is a more holistic perspective of how your customers experience your company.</mat-card-subtitle>
                <div fxLayout="row wrap" fxLayoutGap="32px grid">
                    <div fxFlex="50" fxFlex.lt-sm="100">
                        <mat-form-field floatLabel="always" appearance="standard">
                            <mat-label>Logo URL</mat-label>
                            <input matInput  placeholder="https://your-company.com/images/logo.png"  formControlName="logo_url" >
                            <mat-error *ngIf="logo_url.invalid">{{fError('logo_url')}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="50" fxFlex.lt-sm="100">
                        <mat-form-field floatLabel="always" appearance="standard">
                            <mat-label>Website Url</mat-label>
                            <input matInput  placeholder="https://your-company.com"  formControlName="web_url" >
                            <mat-error *ngIf="branch_code.invalid">{{fError('web_url')}}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </mat-card>

            <mat-card>
                <div fxLayout="row wrap" fxLayoutGap="32px grid">
                    <div fxFlex="50" fxFlex.lt-sm="100">
                        <mat-error *ngIf="errorMessage" class="margin-right-10"> 
                            {{errorMessage}}
                           </mat-error>
                         <mat-progress-spinner *ngIf="hasSpinner" diameter="24"
                           class="dialog-spinner"
                           color="primary"
                           mode="indeterminate">
                       </mat-progress-spinner>
                    </div>
                    <div fxFlex="50" fxFlex.lt-sm="100">
                        <button type="submit"  *ngIf="!hasSpinner" mat-fab color="primary" 
                            aria-label="Submit"  [disabled]="fdCompany.invalid" (click)="onSubmit()">
                            <mat-icon >flight_land</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-card>
        </form>
    </div>
</div>