<h2 mat-dialog-title>Company Products</h2>
<mat-dialog-content>
    <sx-company-line [company]="company"></sx-company-line>
    <div class="matero-col scroll-box-290">
        <sx-product-line *ngFor="let product of productOpt" [product]="product"
            (grandProduct)="addProduct($event)"
            (revokeProduct)="addProduct($event)">
        </sx-product-line>

    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="flex-align-items flex-space-between w-full">
        <div class="flex-start">
            <mat-error *ngIf="errorMessage" class="margin-right-10">  {{errorMessage}} </mat-error>
            <mat-progress-spinner *ngIf="hasSpinner" diameter="24"
                class="dialog-spinner" color="primary"  mode="indeterminate">
            </mat-progress-spinner>
        </div>
        <div class="flex-end">
            <button mat-button color="secondary" mat-dialog-close class="f-w-300">Close</button>
            <!--
            <button   *ngIf="!hasSpinner" mat-raised-button color="primary" aria-label="Submit"
                    class="f-w-300"
                    [disabled]="formGrp.invalid" (click)="onSubmit()">
                SUBMIT
            </button>
            -->
        </div>
    </div>
</mat-dialog-actions>