
<sx-mfr-utility-bar></sx-mfr-utility-bar>

<div class="matero-row m-16 m-t-0" fxLayout="row wrap">
  <!-- -ITEMS -->
  <div class="matero-col tile tile-mfr-items" fxFlex.gt-sm="50" fxFlex="100">
    <mat-card (click)="gotoItemManagement()">
      <mat-card-subtitle>MANAGE ITEMS</mat-card-subtitle>
      <mat-card-content class="overlay-blue">
        <div *ngIf="companiesData" class="ile-graphic">

        </div>
        <img *ngIf="!companiesData" class="tile-graphic" src="/assets/images/common/barcode-white.png"
          alt="Item Management">
      </mat-card-content>
    </mat-card>
  </div>

  <!-- -COMMODITY -->
  <div class="matero-col tile tile-price-file" fxFlex.gt-sm="50" fxFlex="100">
    <mat-card (click)="gotoItemFileProcessing()">
      <mat-card-subtitle>ITEMS FILES</mat-card-subtitle>
      <mat-card-content class="overlay-blue">
        <div *ngIf="companiesData" class="ile-graphic">

        </div>
        <img *ngIf="!companiesData" class="tile-graphic" src="/assets/images/common/create-submittal-white.png"
          alt=" ">
      </mat-card-content>
    </mat-card>
  </div>

</div>
<div class="matero-row m-16 m-t-0" fxLayout="row wrap">
  <!-- -ITEMS -->
  <div class="matero-col tile tile-mfr-items" fxFlex.gt-sm="50" fxFlex="100">
    <!--
    <mat-card (click)="gotoItemManagement()">
      <mat-card-subtitle>MANAGE ITEMS</mat-card-subtitle>
      <mat-card-content class="overlay-blue">
        <div *ngIf="companiesData" class="ile-graphic">

        </div>
        <img *ngIf="!companiesData" class="tile-graphic" src="/assets/images/common/barcode-white.png"
          alt="Item Management">
      </mat-card-content>
    </mat-card>
  -->
  </div>

  <!-- -COMMODITY -->
  <div class="matero-col tile tile-commodity" fxFlex.gt-sm="50" fxFlex="100">
    <mat-card (click)="gotoCommodity()">
      <mat-card-subtitle>COMMODITY</mat-card-subtitle>
      <mat-card-content class="overlay-blue">
        <div *ngIf="companiesData" class="ile-graphic">

        </div>
        <img *ngIf="!companiesData" class="tile-graphic" src="/assets/images/common/commodity-graphic-white.png"
          alt=" ">
      </mat-card-content>
    </mat-card>
  </div>

</div>