<div class="card tree-card">
    <div (click)="treeCardClick(cndty)">
        <div class="tree-card-image">
            <img [src]="imageUrl" [ngClass]="imageClass" (load)="onImageLoad()" (error)="onImageError()">
            <div class="tree-card-blue-overlay"></div>
        </div>
        <div class="tree-card-title" placement="top" >
            <span class="m-r-4">{{cndty.commodity_code}}</span>
            <span class="f-w-400">{{cndty.commodity_name | truncate:30}}</span>
             
        </div>
    </div>
    
</div>