<div class="matero-sidebar-header b-b-1" *ngIf="showHeader">
  <sx-branding></sx-branding>
  <span fxFlex></span>
  <mat-slide-toggle (change)="toggleCollapsed.emit()" [checked]="toggleChecked" *ngIf="showToggle"></mat-slide-toggle>
</div>

<div class="matero-sidebar-inner">
  <sx-user-panel *ngIf="showUser"></sx-user-panel>
  <sx-sidemenu [ripple]="showToggle"></sx-sidemenu>
</div>
