<div class="matero-user-panel p-y-16 b-b-1" fxLayout="column" fxLayoutAlign="center center">

    <img class="matero-user-panel-avatar m-b-8 r-full"  [src]="avatarUrl" alt="avatar" width="64" />

    <h4 *ngIf="user" class="matero-user-panel-name m-t-0 m-b-8 f-w-400">{{user.user_name}}</h4>
    <h5 *ngIf="user" class="matero-user-panel-email m-t-0 m-b-8 f-w-400">{{user.e_mail}}</h5>
    <div class="matero-user-panel-icons text-nowrap">
        <a routerLink="/profile/overview" mat-icon-button>
            <mat-icon class="icon-18">account_circle</mat-icon>
        </a>
        <a routerLink="/profile/settings" mat-icon-button>
            <mat-icon class="icon-18">settings</mat-icon>
        </a>
        <a mat-icon-button class="link" (click)="logout()">
            <mat-icon class="icon-18">exit_to_app</mat-icon>
        </a>
    </div>
</div>