<div class="login-welcome-container">
    <div class="login-welcome-text">
        <span>Supplier Exchange</span> is the business-to-business 
        (B2B) requisitioning, ordering and purchasing of goods and services over the internet. 
        Also known as Electronic procuremen or e-procurement.
    </div>
    <div class="login-welcome-text login-welcome-text-mdnone">
        <img class="img-left" src="/assets/images/sx_process_01.png" alt="Sx Success"/>
        E-procurement is facilitated by e-procurement software. Although available 
        functions and features vary from vendor to vendor, e-procurement software 
        typically computerizes numerous procurement-related activities -- thereby 
        eliminating the need for manual and/or paper-based processes.<br/>
        One key feature of e-procurement software is that it allows employees to 
        search through online catalogs as well as select and acquire needed items online.
    </div>
    <div class="login-welcome-text">
        The project is not funded, and is constructed on the basis of voluntary labor starting from May 29, 2020.
    </div>
    <div class="login-welcome-text">
        Although still in the mode of development,
        <span>the project is accessible to users</span>.
    </div>
</div>