<div class="flex-align-items flex-space-between w-full p-4">
    
    <div class="modal-title flex-start" >PROJECT MANAGEMENT</div>
    <div  class="w-45 flex-end" style="min-width: 45px;">
        <sx-format-control 
            (click)="closePanelClick()" 
            label="" color="blue"
            icon="keyboard_arrow_left">
        </sx-format-control>
    
    </div>
</div>
<hr class="m-t-0">
<div  class="flex-align-items flex-space-between f-s-14"> 

    <div class="flex-start" style="width: 220px;">
        <div *ngIf="project" class="flex-start flex-align-items padding-left-5">
            <div class="subtitle m-l-8 m-b-0 link ellipsis" 
                style="width: 130px;">
              {{project.project_name | truncate:18}}
            </div>
            <div *ngIf="project.project_account_id"class="subtitle m-l-8 m-b-0 link ellipsis" 
                style="width: 60px;">
              {{project.project_account_id | truncate:8}}
            </div>
        </div>
    </div>
    <!-- -Actions -->
    <div class="flex-end p-r-8" style="width: 60px;">
        <div class="flex-align-items">
            <!-- EDIT DROP DOWN  -->
            <div class="" ngbDropdown  *ngIf="project">
                <sx-format-control 
                    class="link size-18"
                    label="" color="light"
                    [matMenuTriggerFor]="projectMenu"
                    icon="calendar_view_day">
                </sx-format-control>
                <mat-menu #projectMenu="matMenu">

                    <button mat-menu-item (click)="refreshProject()">
                        <mat-icon>refresh</mat-icon> 
                        <span>Refresh Project</span>
                    </button>
                
                    <button mat-menu-item class="link" (click)="spmProjectOpenClick()">
                        <mat-icon class="link">info</mat-icon> 
                        <span>Project Details</span>
                    </button>

                </mat-menu>
                
            </div>

          <!-- REFRESH -->
          <sx-button-round 
              message="Show Project Details" tooltipPlacement="bottom"
              class="p-0" color="light"
              (click)="spmProjectOpenClick()" 
              icon="info"> 
          </sx-button-round>
        </div>
    </div>
</div>