<div class="sx-utility-bar">
    <sx-breadcrumb></sx-breadcrumb>

    <div class="flex-end">
        <button mat-icon-button [matMenuTriggerFor]="adminMenu" class="mat-icon-button-24 m-t--16"
            aria-label="Admin Menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <!--
        <a mat-button href="javascript:void(0)" [matMenuTriggerFor]="menu">
            <img
              class="matero-user-avatar r-full align-middle"
              [src]="imageAvatarUrl"
              width="24"
              alt="avatar"
            />
            <span class="align-middle">Zongbin</span>
          </a>
        -->
        <mat-menu #adminMenu="matMenu">
            <a routerLink="/distributor/dashboard" mat-menu-item>
                <mat-icon>dashboard</mat-icon>
                <span>Dashboard</span>
            </a>
            <a routerLink="/admin/company-list" mat-menu-item>
                <mat-icon>business</mat-icon>
                <span>Company List</span>
            </a>
            <a routerLink="/admin/user-list" mat-menu-item>
                <mat-icon>supervisor_account</mat-icon>
                <span>User List</span>
            </a>
            <a routerLink="/auth/login" mat-menu-item>
                <mat-icon>exit_to_app</mat-icon>
                <span>Logout</span>
            </a>
        </mat-menu>
    </div>
</div>