<h2 mat-dialog-title>Company Edit</h2>
<mat-dialog-content>

    <form class="matero-form-horizontal" [formGroup]="formGrp">

        <div fxLayout="row wrap" fxLayoutGap="32px grid">

            <div fxFlex="50" fxFlex.lt-sm="100">
                <mat-form-field floatLabel="always" appearance="standard">
                    <mat-label>Name</mat-label>
                    <input matInput  placeholder="Company Name Ltd"  formControlName="company_name" required >
                    <mat-icon matSuffix class="text-grey-500">account_balance</mat-icon>
                    <mat-error *ngIf="company_name.invalid">{{fError('company_name')}}</mat-error>
                </mat-form-field>
            </div>

            <div fxFlex="50" fxFlex.lt-sm="100">
                <mat-form-field floatLabel="always" appearance="standard">
                    <mat-label>Branch</mat-label>
                    <input matInput  placeholder="HQ"  formControlName="branch_code" required >
                    <mat-icon matSuffix class="text-grey-500">contacts</mat-icon>
                    <mat-error *ngIf="branch_code.invalid">{{fError('branch_code')}}</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row wrap" fxLayoutGap="32px grid">

            <!-- Country -->
            <div fxFlex="50" fxFlex.lt-sm="100" class="flex-align-items">
                <div style="width: 50px;">
                   <img *ngIf="selCountry" class="flag-18 m-r-4" [src]="selCountry.flagUrl" alt="flag">
                </div>
               <mat-form-field>
                   <input matInput placeholder="Country"
                       aria-label="Country"
                       [matAutocomplete]="countryAuto"
                       [formControl]="country" required>
                       
                   <mat-autocomplete #countryAuto="matAutocomplete" 
                       [displayWith]="displayCountry" 
                       (optionSelected)="countryValueChange($event)">
                   <mat-option *ngFor="let option of countryOpt | async"  [value]="option">
                       <div class="flex flex-align-items">
                           <img class="flag-16 m-r-4" [src]="option.flagUrl" alt="flag">
                           <div class="m-r-4">{{option.country_name}}</div>
                           <div>{{option.country_iso2}} - {{option.region_name}}</div>
                       </div>
                   </mat-option>
                   </mat-autocomplete>
               </mat-form-field>
           </div>

        </div>

        <div fxLayout="row wrap" fxLayoutGap="32px grid">
            <div fxFlex="50" fxFlex.lt-sm="100">
                <mat-form-field floatLabel="always" appearance="standard">
                    <mat-label>Logo URL</mat-label>
                    <input matInput  placeholder="https://your-company.com/images/logo.png"  formControlName="logo_url" >
                    <mat-error *ngIf="logo_url.invalid">{{fError('logo_url')}}</mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="50" fxFlex.lt-sm="100">
                <mat-form-field floatLabel="always" appearance="standard">
                    <mat-label>Website Url</mat-label>
                    <input matInput  placeholder="https://your-company.com"  formControlName="web_url" >
                    <mat-error *ngIf="branch_code.invalid">{{fError('web_url')}}</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row wrap" fxLayoutGap="32px grid">
            <div fxFlex="50" fxFlex.lt-sm="100">
                <mat-form-field floatLabel="always" appearance="standard">
                    <mat-label>Notes</mat-label>
                    <textarea matInput formControlName="notes" type="text"></textarea>
                </mat-form-field>
            </div>
        </div>
    </form>
    
</mat-dialog-content>

<mat-dialog-actions>
    <div class="flex-align-items flex-space-between w-full">
        <div class="flex-start">
            <mat-error *ngIf="errorMessage" class="margin-right-10">  {{errorMessage}} </mat-error>
            <mat-progress-spinner *ngIf="hasSpinner" diameter="24"
                class="dialog-spinner" color="primary"  mode="indeterminate">
            </mat-progress-spinner>
        </div>
        <div class="flex-end">
            <button mat-button color="secondary" mat-dialog-close class="f-w-300">Close</button>
            <button   *ngIf="!hasSpinner" mat-raised-button color="primary" aria-label="Submit"
                    class="f-w-300"
                    [disabled]="formGrp.invalid" (click)="onSubmit()">
                SUBMIT
            </button>
        </div>
    </div>
</mat-dialog-actions>