<h2 mat-dialog-title>
    <span class="m-r-4">{{title}}</span> 
    <span class="m-r-4">usecase for project</span>
    <span>{{project.project_name}}</span>
</h2>
<mat-dialog-content>

    <form class="matero-form-horizontal" [formGroup]="formGrp">

        <div fxLayout="row wrap" fxLayoutGap="32px grid">

            <div fxFlex="100" fxFlex.lt-sm="100">
                <mat-form-field floatLabel="always" appearance="standard">
                    <mat-label>Name</mat-label>
                    <input matInput  placeholder="Usecase Name"  formControlName="usecase_name" required >
                    <mat-icon matSuffix class="text-grey-500">admin_panel_settings</mat-icon>
                    <mat-error *ngIf="usecase_name.invalid">{{fError('usecase_name')}}</mat-error>
                </mat-form-field>
            </div>
            
        </div>
        <div fxLayout="row wrap" fxLayoutGap="32px grid">
            <div fxFlex="25" fxFlex.lt-sm="100">
                <mat-form-field floatLabel="always" appearance="standard">
                    <mat-label>Order</mat-label>
                    <input matInput  placeholder="1"  formControlName="usecase_order" >
                    <mat-icon matSuffix class="text-grey-500">list</mat-icon>
                    <mat-error *ngIf="usecase_order.invalid">{{fError('usecase_order')}}</mat-error>
                </mat-form-field>
            </div>
            
            <div fxFlex="25" fxFlex.lt-sm="100">
                <mat-form-field floatLabel="always" appearance="standard">
                    <mat-label>Status</mat-label>
                    <mat-select name="pstatus_id" formControlName="pstatus_id">
                      <mat-option *ngFor="let status of statusOpt" [value]="status.id">
                        {{status.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <div fxFlex="50" fxFlex.lt-sm="100">
                <mat-form-field floatLabel="always" appearance="standard">
                    <mat-label>Image URL</mat-label>
                    <input matInput  placeholder="Image URL"  formControlName="usecase_img_url" type="text">
                    <mat-icon matSuffix class="text-grey-500">add_a_photo</mat-icon>
                    <mat-error *ngIf="usecase_img_url.invalid">{{fError('usecase_img_url')}}</mat-error>
                </mat-form-field>
            </div>
        </div>

       

       
        <div fxLayout="row wrap" fxLayoutGap="32px grid">
            <div fxFlex="70" fxFlex.lt-sm="100">
                <mat-form-field floatLabel="always" appearance="standard">
                    <mat-label>Notes</mat-label>
                    <textarea matInput formControlName="usecase_notes" type="text" maxlength="2000" rows="3"></textarea>
                </mat-form-field>
            </div>
        </div>
    </form>
    
</mat-dialog-content>

<mat-dialog-actions>
    <div class="flex-align-items flex-space-between w-full">
        <div class="flex-start">
            <mat-error *ngIf="errorMessage" class="margin-right-10">  {{errorMessage}} </mat-error>
            <mat-progress-spinner *ngIf="hasSpinner" diameter="24"
                class="dialog-spinner" color="primary"  mode="indeterminate">
            </mat-progress-spinner>
        </div>
        <div class="flex-end">
            <button mat-button color="secondary" mat-dialog-close class="f-w-300">Close</button>
            <button   *ngIf="!hasSpinner" mat-raised-button color="primary" aria-label="Submit"
                    class="f-w-300"
                    [disabled]="formGrp.invalid" (click)="onSubmit()">
                SUBMIT
            </button>
        </div>
    </div>
</mat-dialog-actions>