<mat-card>
  <div class="matero-row" fxLayout="row wrap">
    
  <!-- Statistics -->
  <div class="matero-col" fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card class="bg-indigo-500 text-white">
      <mat-card-title class="f-s-12 f-w-100">Total Sales</mat-card-title>
      <mat-card-content>
        <h2>180,200</h2>
        <sx-mini-progress [value]="50"></sx-mini-progress>
        <small class="text-muted">Monthly</small>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="matero-col" fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card class="bg-blue-500 text-white">
      <mat-card-title class="f-s-12 f-w-100">Revenue</mat-card-title>
      <mat-card-content>
        <h2>70,205</h2>
        <sx-mini-progress [value]="70"></sx-mini-progress>
        <small class="text-muted">Monthly</small>
      </mat-card-content>
    </mat-card>
  </div>

  </div>
</mat-card>