
//////////
// TEXT //
//////////
@mixin text($size:14px, $color: $font, $weight: 500) {
    font-size: $size;
    color: $color;
    font-weight: $weight;
}

@mixin ellipsis($width){
    width: $width;
    white-space: nowrap; 
    text-overflow: ellipsis; 
    overflow: hidden;
}

@mixin text-overflow(){
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


@mixin placeholder($color){
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $color;
    }
    &::-moz-placeholder { /* Firefox 19+ */
        color: $color;
    }
    &:-ms-input-placeholder { /* IE 10+ */
        color: $color;
    }
    &:-moz-placeholder { /* Firefox 18- */
        color: $color;
    }
}

//////////
// FLEX //
//////////
@mixin flex-space-between{
    display: flex;
    justify-content: space-between;
}

@mixin flex-end{
    @extend .flex ;
    justify-content: flex-end;
}

@mixin flex-start{
    display: flex;
    justify-content: flex-start;
}

@mixin flex-wrap{
    display: flex;
    flex-wrap: wrap;
}

@mixin flex-center(){
    justify-content: center;
    align-items: center;
    display: flex;
}

//////////////////
// WIDTH HEIGHT //
//////////////////
@mixin size($width: auto, $height: auto){
    width: $width;
    height: $height;
}

@mixin square($size: auto){
    width: $size;
    height: $size;
}
@mixin calc-min-height($width, $height){
    min-height: -o-calc(#{$width} - #{$height}); /* opera */
    min-height: -webkit-calc(#{$width} - #{$height}); /* google, safari */
    min-height: -moz-calc(#{$width} - #{$height}); /* firefox */
    min-height: calc(#{$width} - #{$height}); /* firefox */
}

@mixin calc-height($height, $amountToRemove){
    height: -o-calc(#{$height} - #{$amountToRemove}); /* opera */
    height: -webkit-calc(#{$height} - #{$amountToRemove}); /* google, safari */
    height: -moz-calc(#{$height} - #{$amountToRemove}); /* firefox */
    height: calc(#{$height} - #{$amountToRemove}); /* firefox */
}

@mixin calc-width($width, $amountToRemove){
    width: -o-calc(#{$width} - #{$amountToRemove}); /* opera */
    width: -webkit-calc(#{$width} - #{$amountToRemove}); /* google, safari */
    width: -moz-calc(#{$width} - #{$amountToRemove}); /* firefox */
    width: calc(#{$width} - #{$amountToRemove}); /* firefox */
}
/////////////
// POSTION //
/////////////
@mixin placement($position,$top:inherit, $right: inherit, $bottom:inherit, $left:inherit){
    position: $position !important;
    top:$top;
    right: $right;
    bottom: $bottom;
    left: $left;
}


/////////////
// QUERIES //
/////////////
@mixin short-window() {
    @media (max-height: 767px) {
           @content;
    }  
}
@mixin med-window() {
    @media (max-width: 767px) {
           @content;
    }  
}

@mixin lrg-window() {
    @media (max-width: 992px) {
           @content;
    }  
}

@mixin xl-window() {
    @media (max-width: 1200px) {
           @content;
    }  
}

@mixin max-media($size) {
    @media (max-width: $size) {
           @content;
    }  
}

@mixin min-media($size) {
    @media (max-width: $size) {
           @content;
    }  
}


///////////////
// GRADIENTS //
///////////////
@mixin gradient-blue(){
    background: #003d5b; /* Old browsers */
    background: -moz-linear-gradient(45deg, #003d5b 0%, #055991 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #003d5b 0%,#055991 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #003d5b 0%,#055991 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

@mixin gradient-blue-opaque(){
background: rgba(1,37,66,1);
background: -moz-linear-gradient(45deg, rgba(1,37,66,1) 0%, rgba(0,95,158,0.82) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(1,37,66,1)), color-stop(100%, rgba(0,95,158,0.82)));
background: -webkit-linear-gradient(45deg, rgba(1,37,66,1) 0%, rgba(0,95,158,0.82) 100%);
background: -o-linear-gradient(45deg, rgba(1,37,66,1) 0%, rgba(0,95,158,0.82) 100%);
background: -ms-linear-gradient(45deg, rgba(1,37,66,1) 0%, rgba(0,95,158,0.82) 100%);
background: linear-gradient(45deg, rgba(1,37,66,1) 0%, rgba(0,95,158,0.82) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#012542', endColorstr='#005f9e', GradientType=1 );
}

////////////
// MIXINS //
////////////
@mixin clearBtnStyle() {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    line-height: 1.42rem;
    list-style: none outside none; 
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}

@mixin clearFocusStyle() {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}


// Transitions

@mixin transition($transition){
    -webkit-transition: $transition;
         -o-transition: $transition;
            transition: $transition;
  }
  @mixin transition-property($transition-property){
    -webkit-transition-property: $transition-property;
            transition-property: $transition-property;
  }
  @mixin transition-delay($transition-delay){
    -webkit-transition-delay: $transition-delay;
            transition-delay: $transition-delay;
  }
  @mixin transition-duration($transition-duration){
    -webkit-transition-duration: $transition-duration;
            transition-duration: $transition-duration;
  }
  @mixin transition-timing-function($timing-function){
    -webkit-transition-timing-function: $timing-function;
            transition-timing-function: $timing-function;
  }
  @mixin transition-transform($transition){
    -webkit-transition: -webkit-transform $transition;
       -moz-transition: -moz-transform $transition;
         -o-transition: -o-transform $transition;
            transition: transform $transition;
  }

// Opacity

@mixin opacity($opacity){
    opacity: $opacity;
    // IE8 filter
    $opacity-ie: ($opacity * 100);
    filter: #{"alpha(opacity=${opacity-ie})"};
  }

   // Backface visibility
// Prevent browsers from flickering when using CSS 3D transforms.
// Default value is `visible`, but can be changed to `hidden`

@mixin backface-visibility($visibility){
    -webkit-backface-visibility: $visibility;
       -moz-backface-visibility: $visibility;
            backface-visibility: $visibility;
  }
