


<sx-projects-utility-bar></sx-projects-utility-bar>

<div class="matero-row m-l-16 m-r-16">
    
        <div class="matero-fill sxtable-container">
            <mat-toolbar color="primary">
                <div class="flex-align-items flex-space-between w-full">
                    <div class="flex-start">
                        <h1> {{dataCount | number:'1.0-0'}} Projects</h1>
                    </div>
                    <div class="flex-end m-r-8 f-s-14">
                        <!--
                        <sx-button-round 
                            (click)="invaitUser()"
                            [disabled]="!canEdit"
                            position="left" 
                            icon="person_add_alt_1"
                            class="m-r-16 m-t-16"
                            message="Invite User"> 
                        </sx-button-round>
                        -->
                        <mat-form-field class="f-w-300">
                            <mat-label>Filter</mat-label>
                            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
                        </mat-form-field>
                    </div>
                </div>
            
            </mat-toolbar>
            <!-- spinner   -->
            <div class="sxtable-loading" *ngIf="tableds.loading$ | async">
                <mat-spinner diameter="48" *ngIf="tableds.loading$ | async"></mat-spinner>
            </div>
            <table mat-table [dataSource]="tableds" class="sxtable table-hover"
                matSort matSortDisableClear
                [matSortActive]="sortActive"
                [matSortDirection]="sortDirection">

                <ng-container matColumnDef="action" sticky>
                    <th mat-header-cell *matHeaderCellDef width ="60px" class="t-c"></th>
                    <td mat-cell *matCellDef="let project" class="t-c">
                        <div class="flex-align-items w-full">
                            
                            <sx-button-round 
                                (click)="gotoProject(project)"
                                [disabled]="!canEdit"
                                position="left" 
                                icon="open_in_new"
                                message="Edit Company"> 
                            </sx-button-round>
                            <mat-icon class="link m-t-4 m-l-4 m-r-8 f-s-20"  
                                (click)="editProject(project)"
                                matTooltip="Edit Project {{project.project_name}}">
                                edit
                            </mat-icon>
                            
                            <!--
                            <mat-icon class="link m-t-8 m-r-4 f-s-16" (click)="editUser(user)">edit</mat-icon>
                            
                           open_in_new
                            <mat-icon class="link m-t-16 m-l-4 m-r-8 f-s-20"  
                                (click)="editCompanyProducts(company)"
                                [matBadge]="company.productsCount"  
                                [matBadgeHidden]="company.productsCount===0" 
                                MatBadgeSize="small"
                                matBadgeDescription="{{company.productsCount | number:'1.0-0'}} Active Products"
                                matBadgeColor="accent" matBadgeOverlap="true">collections_bookmark</mat-icon>
                                -->
                        </div>
                    
                    </td>
                </ng-container>
            
                <ng-container matColumnDef="project_id"  >
                    <th mat-header-cell *matHeaderCellDef  mat-sort-header width ="60px">PK</th>
                    <td mat-cell *matCellDef="let row" class="p-r-8">
                        <div class="w-full text-left">
                            {{row.project_id}}
                        </div>
                       
                    </td>
                </ng-container>

                <ng-container matColumnDef="project_name">
                    <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-200">Name</th>
                    <td mat-cell *matCellDef="let row" class="txt-ell-200">{{row.project_name}}</td>
                </ng-container>

                <ng-container matColumnDef="project_account_id">
                    <th mat-header-cell *matHeaderCellDef  mat-sort-header><mat-icon class="text-grey-500 m-t-8 m-r-4 f-s-16">account_balance_wallet</mat-icon>Account ID</th>
                    <td mat-cell *matCellDef="let row" class="txt-ell-200 p-r-8">{{row.project_account_id}}</td>
                </ng-container>
                
                <ng-container matColumnDef="pstatus_id" >
                    <th mat-header-cell *matHeaderCellDef width ="80px">Status</th>
                    <td mat-cell *matCellDef="let row">
                        <div class="flex-align-items">
                            <div>{{row.pstatus_id | sxprojectstatus}}</div>
                        </div>
                    </td>
                </ng-container>
                
                <ng-container matColumnDef="manager_id">
                    <th mat-header-cell *matHeaderCellDef  mat-sort-header width ="160px"><mat-icon class="text-grey-500 m-t-8 m-r-4 f-s-16">contacts</mat-icon>Manager</th>
                    <td mat-cell *matCellDef="let row" >
                        <div class="w-full flex-align-items text-left">
                            <mat-icon *ngIf="row.manager_id" 
                                matTooltip="{{row.manager_email}}" class="link m-t-8 m-r-4 f-s-16">email</mat-icon>
                            <mat-icon *ngIf="!row.manager_id" class=" m-t-8 m-r-4 f-s-16">clear</mat-icon>
                            <div>{{row.manager_name}}</div>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="estimator_id">
                    <th mat-header-cell *matHeaderCellDef  mat-sort-header width ="160px"><mat-icon class="text-grey-500 m-t-8 m-r-4 f-s-16">how_to_reg</mat-icon>Estimator</th>
                    <td mat-cell *matCellDef="let row" >
                        <div class="w-full flex-align-items text-left">
                            <mat-icon *ngIf="row.estimator_id" 
                                matTooltip="{{row.estimator_email}}"
                                matTooltipPosition="above"
                                class="link m-t-8 m-r-4 f-s-16">email</mat-icon>
                            <mat-icon *ngIf="!row.estimator_id" class=" m-t-8 m-r-4 f-s-16">clear</mat-icon>
                            <div *ngIf="row.estimator_name">{{row.estimator_name}}</div>
                            <div *ngIf="!row.estimator_name">{{row.estimator_email}}</div>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="adate">
                    <th mat-header-cell *matHeaderCellDef  mat-sort-header>Created On</th>
                    <td mat-cell *matCellDef="let row">{{row.adate | date:'MMM d, y'}}</td>
                </ng-container>
                <ng-container matColumnDef="notes">
                    <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-full">Notes</th>
                    <td mat-cell *matCellDef="let row" class="txt-ell-full">{{row.notes}}</td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [length]="dataCount" 
                [pageIndex]="pageIndex"
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOpt" 
                showFirstLastButtons>
            </mat-paginator>
        </div>
    
</div>