<!-- (backdropClick)="drawerInfo.close()" -->
<mat-drawer-container class="sx-drawer-container" hasBackdrop="false" >
    <mat-drawer class="sx-drawer-left" #drawer 
        [(opened)]="panelIn"
        mode="side" fixedInViewport="true" 
        fixedTopGap="0" fixedBottomGap="0">
        <!-- -LEFT PANEL CONTENT -->
        <sx-project-drawer class="sx-drawer-content" 
            [panelVar]="panelInVar"  
            (closePanel)="closePanelLeftClick()"
            (spmProjectOpen)="spmProjectOpen($event)">
        </sx-project-drawer>

    </mat-drawer>
    <mat-drawer-content>

        <sx-page-header 
            [title]="title"
            [subtitle]="subtitle"
            [panelIn]="panelIn"
            (expandFilterPanel)="expandPanelLeftClick()"
            [showBreadCrumb]="false"
            ngClass="overlay-blue white">
            <sx-projects-utility-bar class="white m-t--8"></sx-projects-utility-bar>
        </sx-page-header>
       <div class="matero-row">
            <sx-project-home-tabs class="sx-tabs"
                (spmProjectOpen)="spmProjectOpen($event)"
                (editUseCase)="editUseCase($event)">
            </sx-project-home-tabs>
            
       </div>
       
        
    </mat-drawer-content>

</mat-drawer-container>

<sx-side-panel-modal #spmProject (closeSmpClick)="spmProjectClose()">
    <sx-spm-project-info [project]="spmProjectObj"></sx-spm-project-info>
</sx-side-panel-modal> 
