
  <sx-distributor-utility-bar></sx-distributor-utility-bar>

  <div class="matero-row m-16 m-b-0" fxLayout="row wrap">
    <!-- -COMPANIES -->
    <div class="matero-col tile tile-contractor" fxFlex.gt-sm="50" fxFlex="100">
      <mat-card >
        <mat-card-subtitle>CONTRACTORS</mat-card-subtitle>
        <mat-card-content class="overlay-blue">
          <div *ngIf="false" class="ile-graphic">
  
          </div>
          <img *ngIf="!false" class="tile-graphic" src="/assets/images/common/manage-contactors-white.png"
            alt="Contractors Management">
        </mat-card-content>
      </mat-card>
    </div>
  
    <!-- -Users -->
    <div class="matero-col tile tile-price-file" fxFlex.gt-sm="50" fxFlex="100">
      <mat-card >
        <mat-card-subtitle>PRICE FILE PROCESSING</mat-card-subtitle>
        <mat-card-content class="overlay-blue">
          <div *ngIf="false" class="ile-graphic">
  
          </div>
          <img *ngIf="!false" class="tile-graphic" src="/assets/images/common/price-file-white.png"
            alt="Price File Processing">
        </mat-card-content>
      </mat-card>
    </div>
  
  </div>
  
  <div class="matero-row m-16 m-t-0" fxLayout="row wrap">
  
  <!-- Statistics -->
  <div class="matero-col" fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">

    <div class="mini-chart bg-indigo-500"   
      (click)="gotoItems()"
      matTooltip="Manage Items"  matTooltipPosition="above" >
      <div class="clearfix">
          <div class="chart stats-bar">
              <img src="/assets/images/common/barcode-white.png" alt="Items"/>
              <!--
              <canvas baseChart 
                      [data]="state.pieChart.data"
                      [labels]="state.pieChart.labels"
                      [options]="state.pieChart.options"
                      [colors]="state.pieChart.colors"
                      [chartType]="'pie'"
                      [legend]="false"
                      style="display: block;height: 55px;width: 95px;"
                  ></canvas>
              -->
          </div>
          
          <div class="count" >
              <small>{{itemsCount | number:'1.0-0'}}</small>
              <sx-mini-progress [value]="50"></sx-mini-progress>
              <h2>Items</h2>
          </div>
          
      </div>
    </div>

    
  </div>
  <div class="matero-col" fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card class="bg-blue-500 text-white">
      <mat-card-title class="f-s-12 f-w-100">Revenue</mat-card-title>
      <mat-card-content>
        <h2>70,205</h2>
        <sx-mini-progress [value]="70"></sx-mini-progress>
        <small class="text-muted">Monthly</small>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="matero-col" fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card class="bg-indigo-500 text-white">
      <mat-card-title class="f-s-12 f-w-100">Total Sales</mat-card-title>
      <mat-card-content>
        <h2>180,200</h2>
        <sx-mini-progress [value]="50"></sx-mini-progress>
        <small class="text-muted">Monthly</small>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="matero-col" fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card class="bg-blue-500 text-white">
      <mat-card-title class="f-s-12 f-w-100">Revenue</mat-card-title>
      <mat-card-content>
        <h2>70,205</h2>
        <sx-mini-progress [value]="70"></sx-mini-progress>
        <small class="text-muted">Monthly</small>
      </mat-card-content>
    </mat-card>
  </div>
  
  </div> <!-- matero-row -->
    
  

  