<h2 mat-dialog-title>Import Items from File</h2>
<hr>
<mat-dialog-content class="m-t-16">
    <form [formGroup]="fgSelectFile" class="width-100 padding-top-0" >
        
          <div class="flex margin-top-20 width-100">
              <sx-file-upload class="width-100"
                              (click)="priceFileIn.value = ''; priceFileIn.click()"
                              [uploadedFile]="selFileName" [size]="selFileSize">
              </sx-file-upload>
              <input #priceFileIn type="file"  id="priceFileIn" class="hidden"
                  (change)="priceFileChange($event)" 
                  accept=".txt,.tab,.csv,application/tab,text/csv,text/plain" required/>
          </div>
          <div class="flex-align-items margin-top-20 width-100">
            <div class="side-panel-sec m-t-24" *ngIf="isImportReady">
                <div class="side-panel-sec-title">File Content</div>
                <div class="side-panel-sec-rows">
                    <div class="sp-row flex-space-between">
                        <div class="sp-label" matTooltip="Rows">Rows</div>
                        <div class="sp-value">
                            <div class="flex-align-items">
                                <i class="material-icons size-18 m-r-4">format_align_justify</i>
                                <span>{{itemsData.length | number:'1.0-0'}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- sec end-->
          </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="flex-align-items flex-space-between w-full">
        <div class="flex-start">
            <mat-error *ngIf="errorMessage" class="margin-right-10">  {{errorMessage}} </mat-error>
            <mat-progress-spinner *ngIf="hasSpinner" diameter="24"
                class="dialog-spinner" color="primary"  mode="indeterminate">
            </mat-progress-spinner>
        </div>
        <div class="flex-end">
            <button mat-button color="secondary" mat-dialog-close class="f-w-300">Close</button>
            <button   *ngIf="!hasSpinner" mat-raised-button color="primary" aria-label="Map Fields"
                    class="f-w-300"
                    [disabled]="!isImportReady" (click)="onSubmit()">
                MAP FIELDS
            </button>
        </div>
    </div>
</mat-dialog-actions>
