<sx-admun-utility-bar></sx-admun-utility-bar>

<div class="matero-row m-l-8 m-r-8">

    
        <div class="sxtable-container-full">
            <div class="sxtable-toolbar">
                <mat-toolbar color="primary">
                    <div class="flex-align-items flex-space-between w-full">
                        <div class="flex-start">
                            <h1> {{dataCount | number:'1.0-0'}} Users</h1>
                        </div>
                        <div class="flex-end m-r-8 f-s-14">
                            <!--
                            <sx-button-round 
                                (click)="invaitUser()"
                                [disabled]="!canEdit"
                                position="left" 
                                icon="person_add_alt_1"
                                class="m-r-16 m-t-16"
                                message="Invite User"> 
                            </sx-button-round>
                            -->
                            <mat-form-field class="f-w-300">
                                <mat-label>Filter</mat-label>
                                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
                            </mat-form-field>
                        </div>
                    </div>
                </mat-toolbar>
            </div>
            <div class="sxtable-body-toolbar">
                <!-- spinner   -->
                <div class="sxtable-loading" *ngIf="ds.loading$ | async">
                    <mat-spinner diameter="48" *ngIf="ds.loading$ | async"></mat-spinner>
                </div>
                
                <table mat-table [dataSource]="ds" class="sxtable table-hover"
                    matSort matSortDisableClear
                    [matSortActive]="sortActive"
                    [matSortDirection]="sortDirection">

                    <ng-container matColumnDef="action" sticky>
                        <th mat-header-cell *matHeaderCellDef width ="60px" class="t-c"></th>
                        <td mat-cell *matCellDef="let user" class="t-c">
                            <div class="flex-align-items w-full">
                                
                                <sx-button-round 
                                    (click)="editUser(user)"
                                    [disabled]="!canEdit"
                                    position="left" 
                                    icon="edit"
                                    class="m-r-4"
                                    message="Edit User"> 
                                </sx-button-round>
                                
                                <!--
                                <mat-icon class="link m-t-8 m-r-4 f-s-16" (click)="editUser(user)">edit</mat-icon>
                                -->
                            </div>
                        
                        </td>
                    </ng-container>
                
                    <ng-container matColumnDef="user_id"  >
                        <th mat-header-cell *matHeaderCellDef  mat-sort-header width ="80px">PK</th>
                        <td mat-cell *matCellDef="let row" class="p-r-8">
                            <div class="flex-end w-full text-right">
                                {{row.user_id}}
                            </div>
                        
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="user_name">
                        <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-200">Name</th>
                        <td mat-cell *matCellDef="let row" class="txt-ell-200">{{row.user_name}}</td>
                    </ng-container>

                    <ng-container matColumnDef="e_mail">
                        <th mat-header-cell *matHeaderCellDef  mat-sort-header>Branch</th>
                        <td mat-cell *matCellDef="let row" class="txt-ell-200 p-r-8">{{row.e_mail}}</td>
                    </ng-container>

                    <ng-container matColumnDef="user_role" >
                        <th mat-header-cell *matHeaderCellDef width ="80px">Role</th>
                        <td mat-cell *matCellDef="let row">
                            <div class="flex-align-items">
                                <div>{{row.user_role | userrole}}</div>
                            </div>
                        </td>
                    </ng-container>
                
                    <ng-container matColumnDef="is_receive_emails">
                        <th mat-header-cell *matHeaderCellDef  mat-sort-header width ="80px">Activated</th>
                        <td mat-cell *matCellDef="let row" >
                            <div class="w-full text-center">
                                <mat-icon *ngIf="row.is_receive_emails" class="link m-t-8 m-r-4 f-s-16" (click)="sendEmail(row)">email</mat-icon>
                                <mat-icon *ngIf="!row.is_receive_emails" class=" m-t-8 m-r-4 f-s-16">clear</mat-icon>
                            </div>
                        </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="adate">
                        <th mat-header-cell *matHeaderCellDef  mat-sort-header>Created On</th>
                        <td mat-cell *matCellDef="let row">{{row.adate | date:'MMM d, y'}}</td>
                    </ng-container>
                    <ng-container matColumnDef="company_id">
                        <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-200">Company</th>
                        <td mat-cell *matCellDef="let row" class="txt-ell-200">{{row.company_name}}</td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>

            <mat-paginator [length]="dataCount" 
                [pageIndex]="pageIndex"
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOpt" 
                showFirstLastButtons>
            </mat-paginator>
        </div>
    
</div> <!-- matero-row -->