
    <mat-drawer-container class="sx-drawer-container" hasBackdrop="false" >
        <mat-drawer class="sx-drawer-left" #drawer 
            [(opened)]="panelInVar"
            mode="side" fixedInViewport="true" 
            fixedTopGap="0" fixedBottomGap="0">
            <!-- -LEFT PANEL CONTENT 
            <sx-mfr-iitem-import-file-tree class="sx-drawer-content" 
                [panelVar]="panelInVar"  
                (closePanel)="closePanelLeftClick()"
                (spmCompanyOpen)="spmCompanyOpen($event)">
            </sx-mfr-iitem-import-file-tree>
            -->
        </mat-drawer>
        <mat-drawer-content>
    
            <sx-page-header 
                
                [panelIn]="panelIn"
                (expandFilterPanel)="expandPanelLeftClick()"
                [showBreadCrumb]="false"
                ngClass="overlay-blue white">
                <!-- Utility Bar 

                    [title]="title"
                [subtitle]="subtitle"
                <sx-mfr-utility-bar class="white"></sx-mfr-utility-bar>
                -->
            </sx-page-header>
           <div class="matero-row">
              <!--
            <sx-my-company-tabs class="sx-tabs"
                (spmProjectOpen)="spmProjectOpen($event)"
                (spmCompanyOpen)="spmCompanyOpen($event)">
            </sx-my-company-tabs>
                -->
            
           </div>
           
            
        </mat-drawer-content>
    
    </mat-drawer-container>
    
    
    <!-- modus-content -->
    <div class="modus-content-rows">
        <div class="modus-content-columns">
            <!-- Modus Panel -->
            <sx-filter-panel [panelVar]="panelInVar"
                (closePanel)="closePanelLeftClick()">
                <!-- 
                <ams-wad-airport-filter-panel-body></ams-wad-airport-filter-panel-body>
                -->
            </sx-filter-panel>
  
          <!-- Modus Content -->
          
            <div class="modus-content sx-tabs">
                <router-outlet></router-outlet>
            </div>
          
        </div>
        
    </div><!-- modus-content end-->

<div [@togleBtnTopRev]="!panelInVar"  (click)="expandPanelLeftClick()" class="side-tab-btn-top">
     <!--
  <i class="modus-icons">one_way_right</i>
  -->
  <i class="material-icons modus-icons">east</i>
</div>
