<mat-toolbar color="primary">
    <div class="flex-align-items flex-space-between w-full">
        <div class="flex-start flex-align-items m-l-4">
            <span>{{dataCount | number:'1.0-0'}}</span>
            <span class="p-l-4 f-w-300">USERS</span>
        </div>
        <div class="flex-end m-r-8 f-s-14">
            <!--
            <sx-button-round 
                (click)="invaitUser()"
                [disabled]="!canEdit"
                position="left" 
                icon="person_add_alt_1"
                class="m-r-16 m-t-16"
                message="Invite User"> 
            </sx-button-round>
            -->
            <sx-button-flat class="m-t-8 m-r-8" 
                matTooltip="Invite User"
                color="dark"
                (click)="inviteUser()" 
                icon="person_add" >
            </sx-button-flat>
            <mat-form-field class="f-w-300 m-r-16">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
            </mat-form-field>
            <sx-button-flat class="m-t-8" 
                matTooltip="Reload Data"
                color="dark"
                (click)="refreshClick()" 
                icon="refresh" >
            </sx-button-flat>
            
        </div>
    </div>

</mat-toolbar>
<div class="matero-row">
    <div class="flex-wrap m-16">
        <!-- (editClick)="onEditClick($event)" -->
        <sx-user-card  *ngFor="let user of users"
            [user]="user" (editUser)="editUser($event)" (sendEmail)="sendEmail($event)">
        </sx-user-card>
    </div>
</div>