<div class="matero-row m-16" fxLayout="row wrap">
    <!-- -COMPANIES -->
    <div class="matero-col tile tile-mfr" fxFlex.gt-sm="50" fxFlex="100">
      <mat-card >
        <mat-card-subtitle>SOME STATISTICS</mat-card-subtitle>
        <mat-card-content class="overlay-blue">
          <div *ngIf="false" class="ile-graphic">
  
          </div>
          <img *ngIf="!false" class="tile-graphic" src="/assets/images/common/mfr-graphic-white.png"
            alt="Company Management">
        </mat-card-content>
      </mat-card>
    </div>
  
    <!-- -Users -->
    <div class="matero-col tile tile-contractor" fxFlex.gt-sm="50" fxFlex="100">
      <mat-card >
        <mat-card-subtitle>OTHER STATISTICS</mat-card-subtitle>
        <mat-card-content class="overlay-blue">
          <div *ngIf="false" class="ile-graphic">
  
          </div>
          <img *ngIf="!false" class="tile-graphic" src="/assets/images/common/generic-graphic-white.png"
            alt="Company Management">
        </mat-card-content>
      </mat-card>
    </div>
  
  </div>