
    <mat-toolbar color="primary">
        <div class="flex-align-items flex-space-between w-full">
            <div class="flex-start flex-align-items">
                <span>{{dataCount | number:'1.0-0'}}</span>
                <span class="p-l-1 f-w-300">USECASES</span>
            </div>
            <div class="flex-end m-r-8 f-s-14">
                <!--
                <sx-button-round 
                    (click)="invaitUser()"
                    [disabled]="!canEdit"
                    position="left" 
                    icon="person_add_alt_1"
                    class="m-r-16 m-t-16"
                    message="Invite User"> 
                </sx-button-round>
                -->
                <sx-button-flat class="m-t-8 m-r-8" 
                    matTooltip="New Usecase"
                    color="dark"
                    (click)="editUseCaseClick(undefined)" 
                    icon="library_add" >
                </sx-button-flat>
                
                <mat-form-field class="f-w-300 m-r-16">
                    <mat-label>Filter</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
                </mat-form-field>
                <!----->
                <sx-button-flat class="m-t-8" 
                    matTooltip="Reload Data"
                    color="dark"
                    (click)="refreshClick()" 
                    icon="refresh" >
                </sx-button-flat>
                
            </div>
        </div>
    
    </mat-toolbar>
    <!-- spinner   -->
    <div class="sxtable-loading" *ngIf="tableds.loading$ | async">
        <mat-spinner diameter="48" *ngIf="tableds.loading$ | async"></mat-spinner>
    </div>
    <table mat-table [dataSource]="tableds" class="sxtable table-hover"
        matSort matSortDisableClear
        [matSortActive]="sortActive"
        [matSortDirection]="sortDirection">

        <ng-container matColumnDef="action" sticky>
            <th mat-header-cell *matHeaderCellDef width ="60px" class="t-c"></th>
            <td mat-cell *matCellDef="let usecase" class="t-c">
                <div class="flex-align-items w-full">
                    
                    <sx-button-round 
                        (click)="gotoProject(usecase)"
                        [disabled]="!canEdit"
                        position="left" 
                        icon="open_in_new"
                        message="View Details"> 
                    </sx-button-round>
                    
                    <mat-icon class="link m-t-4 m-l-4 m-r-8 f-s-20"  
                        (click)="editUseCaseClick(usecase)"
                        matTooltip="Edit UseCase {{usecase.usecase_name}}">
                        edit
                    </mat-icon>
                   
                    <!--
                    <mat-icon class="link m-t-8 m-r-4 f-s-16" (click)="editUser(user)">edit</mat-icon>
                    
                    open_in_new
                    <mat-icon class="link m-t-16 m-l-4 m-r-8 f-s-20"  
                        (click)="editCompanyProducts(company)"
                        [matBadge]="company.productsCount"  
                        [matBadgeHidden]="company.productsCount===0" 
                        MatBadgeSize="small"
                        matBadgeDescription="{{company.productsCount | number:'1.0-0'}} Active Products"
                        matBadgeColor="accent" matBadgeOverlap="true">collections_bookmark</mat-icon>
                        -->
                </div>
            
            </td>
        </ng-container>
    
        <ng-container matColumnDef="usecase_id"  >
            <th mat-header-cell *matHeaderCellDef  mat-sort-header width ="60px" class="p-l-4">PK</th>
            <td mat-cell *matCellDef="let row" class="p-l-4 p-r-8">
                <div class="w-full text-left">
                    {{row.usecase_id}}
                </div>
                
            </td>
        </ng-container>

        <ng-container matColumnDef="usecase_name">
            <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-200">Name</th>
            <td mat-cell *matCellDef="let row" class="txt-ell-200">{{row.usecase_name}}</td>
        </ng-container>

        <ng-container matColumnDef="usecase_order">
            <th mat-header-cell *matHeaderCellDef  mat-sort-header width="80px"><mat-icon class="text-grey-500 m-t-8 m-r-4 f-s-16">list</mat-icon>Order</th>
            <td mat-cell *matCellDef="let row" class="p-r-8">{{row.usecase_order | number:'1.0-0'}}</td>
        </ng-container>
        
        <ng-container matColumnDef="pstatus_id" >
            <th mat-header-cell *matHeaderCellDef width="80px">Status</th>
            <td mat-cell *matCellDef="let row">
                <div class="flex-align-items">
                    <div>{{row.pstatus_id | sxprojectstatus}}</div>
                </div>
            </td>
        </ng-container>
        
        <ng-container matColumnDef="udate">
            <th mat-header-cell *matHeaderCellDef  mat-sort-header>Updated On</th>
            <td mat-cell *matCellDef="let row">{{row.udate | date:'MMM d, y'}}</td>
        </ng-container>
        <ng-container matColumnDef="usecase_notes">
            <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-full">Notes</th>
            <td mat-cell *matCellDef="let row" class="txt-ell-full" matTooltip="{{row.usecase_notes}}">{{row.usecase_notes}}</td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="dataCount" 
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOpt" 
        showFirstLastButtons>
    </mat-paginator>
       