<sx-admun-utility-bar></sx-admun-utility-bar>

<div class="matero-row m-16" fxLayout="row wrap">

  <!-- Statistics -->
  <div class="matero-col" fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card class="bg-indigo-500 text-white">
      <mat-card-title class="f-s-12 f-w-100">Total Sales</mat-card-title>
      <mat-card-content>
        <h2>180,200</h2>
        <sx-mini-progress [value]="50"></sx-mini-progress>
        <small class="text-muted">Monthly</small>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="matero-col" fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card class="bg-blue-500 text-white">
      <mat-card-title class="f-s-12 f-w-100">Revenue</mat-card-title>
      <mat-card-content>
        <h2>70,205</h2>
        <sx-mini-progress [value]="70"></sx-mini-progress>
        <small class="text-muted">Monthly</small>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="matero-col" fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card class="bg-indigo-500 text-white">
      <mat-card-title class="f-s-12 f-w-100">Total Sales</mat-card-title>
      <mat-card-content>
        <h2>180,200</h2>
        <sx-mini-progress [value]="50"></sx-mini-progress>
        <small class="text-muted">Monthly</small>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="matero-col" fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card class="bg-blue-500 text-white">
      <mat-card-title class="f-s-12 f-w-100">Revenue</mat-card-title>
      <mat-card-content>
        <h2>70,205</h2>
        <sx-mini-progress [value]="70"></sx-mini-progress>
        <small class="text-muted">Monthly</small>
      </mat-card-content>
    </mat-card>
  </div>

</div> <!-- matero-row -->

<div class="matero-row m-16" fxLayout="row wrap">
  <!-- -COMPANIES -->
  <div class="matero-col tile tile-mfr" fxFlex.gt-sm="50" fxFlex="100">
    <mat-card (click)="gotoCompanyManagement()">
      <mat-card-subtitle>MANAGE COMPANIES</mat-card-subtitle>
      <mat-card-content class="overlay-blue">
        <div *ngIf="companiesData" class="ile-graphic">

        </div>
        <img *ngIf="!companiesData" class="tile-graphic" src="/assets/images/common/mfr-graphic-white.png"
          alt="Company Management">
      </mat-card-content>
    </mat-card>
  </div>

  <!-- -Users -->
  <div class="matero-col tile tile-contractor" fxFlex.gt-sm="50" fxFlex="100">
    <mat-card (click)="gotoUsersManagement()">
      <mat-card-subtitle>MANAGE USERS</mat-card-subtitle>
      <mat-card-content class="overlay-blue">
        <div *ngIf="companiesData" class="ile-graphic">

        </div>
        <img *ngIf="!companiesData" class="tile-graphic" src="/assets/images/common/generic-graphic-white.png"
          alt="Company Management">
      </mat-card-content>
    </mat-card>
  </div>

</div>