    <mat-tab-group  mat-stretch-tabs #branchTabs
                class="mat-card" 
                [selectedIndex]="selTabIdx"
                (selectedIndexChange)="selectedTabChanged($event)">

                <!-- -TAB 0 dashboard --> 
                <mat-tab label="Dashboard">
                    <ng-template mat-tab-label>
                        <mat-icon class="m-r-4 blue">dashboard</mat-icon>
                        <!--
                        <img class="tab-icon neighbor-icon" src="/assets/images/common/project_tr.png" alt="Dashboard">
                        -->
                        Dashboard
                    </ng-template>
                    <button mat-raised-button (click)="spmProjectOpenClick()">Toggle drawer</button>
                </mat-tab>

                <!-- -TAB 1 UseCase --> 
                <mat-tab label="Usecase">
                    <ng-template mat-tab-label>
                        <mat-icon class="m-r-4 blue">assignment_ind</mat-icon>
                        <!--
                        <img class="tab-icon neighbor-icon" src="/assets/images/common/project_tr.png" alt="Dashboard">
                        -->
                        Usecase
                    </ng-template>
                    <sx-project-home-tab-usecase tabindex="1" (editUseCase)="editUseCase.emit($event)"></sx-project-home-tab-usecase>
                </mat-tab>
                
    </mat-tab-group>
    
