<div class="matero-container-wrap" [dir]="options.dir" [ngClass]="{
    'matero-sidenav-collapsed': options.sidenavCollapsed && options.navPos!=='top',
    'matero-navbar-top': options.navPos==='top',
    'matero-header-above': options.headerPos==='above',
    'matero-header-fixed': options.headerPos==='fixed',
    'matero-header-white': options.theme==='light'}">
  <ng-progress></ng-progress>

    <!--
         (toggleSidenav)="sidenav.toggle()"
              (toggleSidenavNotice)="sidenavNotice.toggle()"
    -->
  <sx-header #header class="matero-header"
              *ngIf="options.showHeader && options.headerPos==='above'"
              [showBranding]="true">
  </sx-header>

  <mat-sidenav-container class="matero-container" autosize autoFocus>
    <mat-sidenav #sidenav class="matero-sidenav"
                 [mode]="isOver ? 'over' : 'side'"
                 [opened]="options.navPos==='side' && options.sidenavOpened && !isOver"
                 (openedChange)="sidenavOpenedChange($event)"
                 (closedStart)="sidenavCloseStart()">
      <sx-sidebar (toggleCollapsed)="toggleCollapsed()"
                   [toggleChecked]="options.sidenavCollapsed"
                   [showToggle]="!isOver"
                   [showUser]="options.showUserPanel"
                   [showHeader]="options.headerPos!=='above'">
      </sx-sidebar>
    </mat-sidenav>

    <mat-sidenav #sidenavNotice position="end" mode="over" opened="false">
      <sx-sidebar-notice></sx-sidebar-notice>
    </mat-sidenav>

    <mat-sidenav-content class="matero-content-wrap" #content>
      <sx-header #header class="matero-header"
                  *ngIf="options.showHeader && options.headerPos!=='above'"
                  (toggleSidenav)="sidenav.toggle()"
                  (toggleSidenavNotice)="sidenavNotice.toggle()"
                  [showToggle]="!options.sidenavCollapsed && options.navPos!=='top'"
                  [showBranding]="options.navPos==='top'">
      </sx-header>
      
      <sx-topmenu class="matero-topmenu" *ngIf="options.navPos==='top'"></sx-topmenu>
       
      <div class="matero-content-sx">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>