@mixin generate-color($prefix, $property) {
  @each $name, $value in $mat-colors {
    @each $hue, $color in $value {
      @if ($hue != 'contrast') {
        .#{$prefix + '-' + $name + '-' + $hue} {
          #{$property}: $color !important;
        }
      }
      // alias
      @if ($name == 'gray') {
        .#{$prefix + '-grey-' + $hue} {
          @extend .#{$prefix + '-gray-' + $hue} !optional;
        }
      }

      @if ($name == 'blue-gray') {
        .#{$prefix + '-blue-grey-' + $hue} {
          @extend .#{$prefix + '-blue-gray-' + $hue} !optional;
        }
      }
    }
  }
}

@mixin icon($size) {
  width: $size * 1px !important;
  height: $size * 1px !important;
  font-size: $size * 1px !important;
  line-height: $size * 1px !important;
}

@mixin image-fit($value) {
  width: 100%;
  height: 100%;
  object-fit: $value;
}

////////////////////////////////
// -ADD AN ICON BEFORE OR AFTER //
/////////////////////////////////// 
// Example - @include icon("\E80E")
@mixin icon($icon){
  &{
   font-family: 'Material Icons';
   content: $icon;
  }
}

// Example - @include icon-after("\E80E")
@mixin icon-after($icon){
  &:after{
      font-family: 'Material Icons';
      content: $icon;
  }
}

// Example - @include icon-before("\E80E")
@mixin icon-before($icon){
  &:before{
      font-family: 'Material Icons';
      content: $icon;
  }
}
