
<sx-cmdty-utility-bar [dataCount]="dataCount"></sx-cmdty-utility-bar>

<div class="matero-row m-16 m-t-0 scroll-box" fxLayout="row wrap">
  <sx-cmdty-card *ngFor="let commodity of data" [cndty]="commodity" (click)="loadChildren(commodity)"></sx-cmdty-card>
</div>