<nav aria-label="breadcrumb">
  <ol class="matero-breadcrumb">
    <li class="matero-breadcrumb-item"
        *ngFor="let item of routeNames; first as isFirst; last as isLast">
        <span class="" *ngIf="isFirst">{{item.name}}</span>
        <!--
        <a href="/" class="link" *ngIf="isFirst">{{item.name}}</a>
        -->
      <ng-container *ngIf="!isFirst">
        <mat-icon class="chevron">chevron_right</mat-icon>
        <span *ngIf="!isLast" class="" (click)="gotoMenu(item)" >{{item.name}}</span>
        <span *ngIf="isLast" >{{item.name}}</span>
      </ng-container>
    </li>
  </ol>
</nav>
