<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content>

    <form class="matero-form-horizontal" [formGroup]="formGrp">

        <div fxLayout="row wrap" fxLayoutGap="32px grid">

            <div fxFlex="50" fxFlex.lt-sm="100">
                <mat-form-field floatLabel="always" appearance="standard">
                    <mat-label>Name</mat-label>
                    <input matInput  placeholder="User Name"  formControlName="user_name" required >
                    <mat-icon matSuffix class="text-grey-500">perm_identity</mat-icon>
                    <mat-error *ngIf="user_name.invalid">{{fError('user_name')}}</mat-error>
                </mat-form-field>
            </div>

            
        </div>

        <div fxLayout="row wrap" fxLayoutGap="32px grid">
            <div fxFlex="50" fxFlex.lt-sm="100">
                <mat-form-field floatLabel="always" appearance="standard">
                    <mat-label>Email</mat-label>
                    <input matInput  placeholder="HQ"  formControlName="e_mail" required >
                    <mat-icon matSuffix class="text-grey-500">forward_to_inbox</mat-icon>
                    <mat-error *ngIf="e_mail.invalid">{{fError('e_mail')}}</mat-error>
                </mat-form-field>
            </div>

            <div fxFlex="50" fxFlex.lt-sm="100">
                <mat-form-field floatLabel="always" appearance="standard">
                    <mat-label>Password</mat-label>
                    <input matInput  placeholder="password"  formControlName="u_password" required >
                    <mat-icon matSuffix class="text-grey-500">lock</mat-icon>
                    <mat-error *ngIf="u_password.invalid">{{fError('u_password')}}</mat-error>
                </mat-form-field>
            </div>

        </div>

        <div fxLayout="row wrap" fxLayoutGap="32px grid" class="m-t-8">
            <div fxFlex="30" fxFlex.lt-sm="100">
                <mat-form-field>
                    <mat-label>Role</mat-label>
                    <mat-select [formControl]="user_role" required>
                        <mat-option *ngFor="let item of roleOpt" [value]="item.id">
                        {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex="20" fxFlex.lt-sm="100">

            </div>
            
            <div fxFlex="50" fxFlex.lt-sm="100">
                <div class="flex flex-col">
                    <mat-label>Activated</mat-label>
                    <mat-slide-toggle 
                        [ngModel]="is_receive_emails.value" 
                        color="primary"
                        [formControl]="is_receive_emails">
                    </mat-slide-toggle>
                    <mat-hint>Activate if user email is valid and can receive e-mails</mat-hint>
                </div>
            </div>

            
        </div>
    </form>
    
</mat-dialog-content>

<mat-dialog-actions>
    <div class="flex-align-items flex-space-between w-full">
        <div class="flex-start">
            <mat-error *ngIf="errorMessage" class="margin-right-10">  {{errorMessage}} </mat-error>
            <mat-progress-spinner *ngIf="hasSpinner" diameter="24"
                class="dialog-spinner" color="primary"  mode="indeterminate">
            </mat-progress-spinner>
        </div>
        <div class="flex-end">
            <button mat-button color="secondary" mat-dialog-close class="f-w-300">Close</button>
            <button   *ngIf="!hasSpinner" mat-raised-button color="primary" aria-label="Submit"
                    class="f-w-300"
                    [disabled]="formGrp.invalid" (click)="onSubmit()">
                SUBMIT
            </button>
        </div>
    </div>
</mat-dialog-actions>