<h2 mat-dialog-title>Project</h2>
<mat-dialog-content>

    <form class="matero-form-horizontal" [formGroup]="formGrp">

        <div fxLayout="row wrap" fxLayoutGap="32px grid">

            <div fxFlex="70" fxFlex.lt-sm="100">
                <mat-form-field floatLabel="always" appearance="standard">
                    <mat-label>Name</mat-label>
                    <input matInput  placeholder="Project Name"  formControlName="project_name" required >
                    <mat-icon matSuffix class="text-grey-500">admin_panel_settings</mat-icon>
                    <mat-error *ngIf="project_name.invalid">{{fError('project_name')}}</mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="30" fxFlex.lt-sm="100">
                <mat-form-field floatLabel="always" appearance="standard">
                    <mat-label>Status</mat-label>
                    <mat-select name="pstatus_id" formControlName="pstatus_id">
                      <mat-option *ngFor="let status of statusOpt" [value]="status.id">
                        {{status.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            

            
        </div>

        <div fxLayout="row wrap" fxLayoutGap="32px grid">
            <div fxFlex="30" fxFlex.lt-sm="100">
                <mat-form-field floatLabel="always" appearance="standard">
                    <mat-label>Account ID</mat-label>
                    <input matInput  placeholder="Account ID 234"  formControlName="project_account_id" >
                    <mat-icon matSuffix class="text-grey-500">account_balance_wallet</mat-icon>
                    <mat-error *ngIf="project_account_id.invalid">{{fError('project_account_id')}}</mat-error>
                </mat-form-field>
            </div>
            
                <input type="hidden"  formControlName="company_id" [value]="company_id">
            
            <div fxFlex="70" fxFlex.lt-sm="100">
                <!--
                <mat-form-field appearance="standard">
                    <mat-label>Enter a date range</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                      <input matStartDate formControlName="start_date" placeholder="Start date">
                      <input matEndDate formControlName="end_date" placeholder="End date">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                  
                    <mat-error *ngIf="start_date.invalid">Invalid start date</mat-error>
                    <mat-error *ngIf="end_date.invalid">Invalid end date</mat-error>
                  </mat-form-field>
                  -->
            </div>

        </div>

        <h5 class="m-b-0">CONTACTS</h5>
        <div fxLayout="row wrap" fxLayoutGap="32px grid">
           <!-- Manager -->
           <div fxFlex="50" fxFlex.lt-sm="100" >
                <mat-form-field>
                    <input matInput placeholder="Manager"
                        aria-label="Manager"
                        [matAutocomplete]="managerAuto"
                        [formControl]="manager_id">
                    <mat-icon matSuffix  class="text-grey-500">contacts</mat-icon>    
                    <mat-autocomplete #managerAuto="matAutocomplete" 
                        [displayWith]="displayUser" 
                        (optionSelected)="managerValueChange($event)">
                    <mat-option *ngFor="let option of managerOpt | async"  [value]="option">
                        <div class="flex flex-align-items">
                            <mat-icon class="text-grey-500 m-r-4">contacts</mat-icon>
                            <div class="m-r-4">{{option.user_name}}</div>
                            <div class="text-blue-400">{{option.e_mail}}</div>
                        </div>
                    </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <!-- Estimator -->
            <div fxFlex="50" fxFlex.lt-sm="100" >
                <mat-form-field>
                    <input matInput placeholder="Estimator"
                        aria-label="Estimator"
                        [matAutocomplete]="estimatorAuto"
                        [formControl]="estimator_id">
                    <mat-icon matSuffix  class="text-grey-500">how_to_reg</mat-icon>      
                    <mat-autocomplete #estimatorAuto="matAutocomplete" 
                        [displayWith]="displayUser" 
                        (optionSelected)="estimatorValueChange($event)">
                    <mat-option *ngFor="let option of estimatorOpt | async"  [value]="option">
                        <div class="flex flex-align-items">
                            <mat-icon class="text-grey-500 m-r-4">how_to_reg</mat-icon>
                            <div class="m-r-4">{{option.user_name}}</div>
                            <div class="text-blue-400">{{option.e_mail}}</div>
                        </div>
                    </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>

        </div>

       

        <div fxLayout="row wrap" fxLayoutGap="32px grid">
            <!--
            <div fxFlex="50" fxFlex.lt-sm="100">
                <mat-form-field floatLabel="always" appearance="standard">
                    <mat-label>Logo URL</mat-label>
                    <input matInput  placeholder="https://your-company.com/images/logo.png"  formControlName="logo_url" >
                    <mat-error *ngIf="logo_url.invalid">{{fError('logo_url')}}</mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="50" fxFlex.lt-sm="100">
                <mat-form-field floatLabel="always" appearance="standard">
                    <mat-label>Website Url</mat-label>
                    <input matInput  placeholder="https://your-company.com"  formControlName="web_url" >
                    <mat-error *ngIf="branch_code.invalid">{{fError('web_url')}}</mat-error>
                </mat-form-field>
            </div>
            -->
        </div>
        <div fxLayout="row wrap" fxLayoutGap="32px grid">
            <div fxFlex="50" fxFlex.lt-sm="100">
                <mat-form-field floatLabel="always" appearance="standard">
                    <mat-label>Notes</mat-label>
                    <textarea matInput formControlName="notes" type="text"></textarea>
                </mat-form-field>
            </div>
        </div>
    </form>
    
</mat-dialog-content>

<mat-dialog-actions>
    <div class="flex-align-items flex-space-between w-full">
        <div class="flex-start">
            <mat-error *ngIf="errorMessage" class="margin-right-10">  {{errorMessage}} </mat-error>
            <mat-progress-spinner *ngIf="hasSpinner" diameter="24"
                class="dialog-spinner" color="primary"  mode="indeterminate">
            </mat-progress-spinner>
        </div>
        <div class="flex-end">
            <button mat-button color="secondary" mat-dialog-close class="f-w-300">Close</button>
            <button   *ngIf="!hasSpinner" mat-raised-button color="primary" aria-label="Submit"
                    class="f-w-300"
                    [disabled]="formGrp.invalid" (click)="onSubmit()">
                SUBMIT
            </button>
        </div>
    </div>
</mat-dialog-actions>