<div class="sx-utility-bar">
    <sx-breadcrumb></sx-breadcrumb>

    <div class="flex-end flex-align-items m-t--16">

        <sx-button-round 
        message="Imprt Items from File" tooltipPlacement="bottom"
        class="size-18" 
        (click)="ItemImportFileSelect()" 
        icon="cloud_upload"> 
    </sx-button-round>
        
        <button mat-icon-button [matMenuTriggerFor]="adminMenu" class="mat-icon-button-24 "
            aria-label="Admin Menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <!--
        <a mat-button href="javascript:void(0)" [matMenuTriggerFor]="menu">
            <img
              class="matero-user-avatar r-full align-middle"
              [src]="imageAvatarUrl"
              width="24"
              alt="avatar"
            />
            <span class="align-middle">Zongbin</span>
          </a>
        -->
        <mat-menu #adminMenu="matMenu">
            <a routerLink="/manufacturer/dashboard" mat-menu-item>
                <mat-icon>dashboard</mat-icon>
                <span>Dashboard</span>
            </a>
            <a routerLink="/projects/projects-list" mat-menu-item>
                <mat-icon>table_view</mat-icon>
                <span>Projects List</span>
            </a>
            <a routerLink="/projects/dashboard" mat-menu-item>
                <mat-icon>supervisor_account</mat-icon>
                <span>User List</span>
            </a>
            <a routerLink="/commodity" mat-menu-item>
                <mat-icon>supervisor_account</mat-icon>
                <span>Commodity</span>
            </a>
        </mat-menu>
    </div>
</div>