<div class="ph-content">

  <div class="flex-start" style="width: 45px;">

    <sx-format-control *ngIf="panelIn===false" 
        (click)="expandPanelArrowClick()" 
        label="" color="white"
        icon="keyboard_arrow_right">
    </sx-format-control>
    <sx-back-button *ngIf="!panelIn===false"></sx-back-button>

  </div>

  <div class="flex-col w-full">
    <div class="ph-title" >{{title}} <small>{{subtitle}}</small></div>
    <sx-breadcrumb *ngIf="showBreadCrumb"></sx-breadcrumb>
    <ng-content></ng-content>
  </div>
  
  
  <!-- [ngClass]="{'m-l-48':panelIn===true}" -->
  

  
</div>
