.matero-page-header {
  display: block;
  padding: 16px;
  margin: -16px -16px 16px;
  background-color: #3f51b5;
  color: #fff;
  height: 125px;

  .matero-breadcrumb {
    margin-top: 8px;
    margin-bottom: 0;
  }
}

.matero-page-title {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  padding: 20px 0px;
}

sx-page-header{
  display: block;
  /*padding: 16px;
  margin: -16px -16px 16px;*/
  background-color: #3f51b5;
  color: #fff;
  height: 82px;
  .ph{
      &-content{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0px 16px 0px 16px;
    }
    &-title{
      font-size: 24px;
      font-weight: 400;
      padding: 10px 0px 0px 10px;
    }
  }

}
