   <!-- live button -->
<div class="info-btn">
    <!--
    <i *ngIf="message" container="body" class="material-icons"  placement="{{toolTipPlacement}}" ngbTooltip="{{message}}" triggers="mouseenter:mouseleave" >info_outline</i>   
    <i *ngIf="!message" class="material-icons neighbor-icon" (mouseenter)="onHover.emit($event)" (mouseleave)="offHover.emit($event)">info_outline</i> 
    -->
    <i *ngIf="message" class="material-icons"  matTooltip="{{message}}">info_outline</i>   
    <i *ngIf="!message" class="material-icons m-r-4" (mouseenter)="onHover.emit($event)" (mouseleave)="offHover.emit($event)">info_outline</i> 
</div>
  