<sx-projects-utility-bar></sx-projects-utility-bar>

<div class="matero-row m-16" fxLayout="row wrap">
  <!-- -COMPANIES -->
  <div class="matero-col tile tile-project" fxFlex.gt-sm="50" fxFlex="100">
    <mat-card (click)="gotoProjectManagement()">
      <mat-card-subtitle>MANAGE PROJECTS</mat-card-subtitle>
      <mat-card-content class="overlay-blue">
        <div *ngIf="companiesData" class="ile-graphic">

        </div>
        <img *ngIf="!companiesData" class="tile-graphic" src="/assets/images/common/directory-graphic-white.png"
          alt="Company Management">
      </mat-card-content>
    </mat-card>
  </div>

  <!-- -Users -->
  <div class="matero-col tile tile-contractor" fxFlex.gt-sm="50" fxFlex="100">
    <mat-card (click)="projectCreate()">
      <mat-card-subtitle>NEW PROJECT </mat-card-subtitle>
      <mat-card-content class="overlay-blue">
        <div *ngIf="companiesData" class="ile-graphic">

        </div>
        <img *ngIf="!companiesData" class="tile-graphic" src="/assets/images/common/project_new_white.png"
          alt="Company Management">
      </mat-card-content>
    </mat-card>
  </div>

</div>