// ==================================================
// Material Components Style Fix
// ==================================================


.mat-hint{
  font-size: 14px;
  font-weight: 300;
}
/*
.mat-dialog-actions{
  margin-top: 20px;
}
*/
.mat-card {
  margin-bottom: $gutter;
  .mat-card-header{
    .context-menu{
      position: absolute;
      top:2px;
      right:2px;
      height: 26xp;
      background: #ffffff;
      display: flex;
      align-items: center;
    }
  }

  & > mat-card-content{
        
    @include size(100%);
    display: flex;
    & > img{
        margin: 2px;
        /*@include square(70px);*/
    }
    .content{
        @include flex-wrap;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        width: 100%;
    }

    .key-value-container{
        > .key-value-block
        > .key-value{
            @include ellipsis(100%);
        }
    }

    
    
}
 
}

.mat-accordion {
  display: block;
  margin-bottom: $gutter;
}

.mat-list-base {
  position: relative;
}

// Form horizontal
.matero-form-horizontal {
  .mat-form-field {
    width: 100%;
  }
}

.mat-option {
  line-height: 24px!important;
  /*height: 24px!important;*/
  padding: 0 8px!important;
  font-size: 14px!important;
  font-weight: 300!important;
  
}

.mat-dialog {
  &-container{
    overflow: visible!important;
  }
  &-content {
    overflow: visible!important;
  }
}

.mat-dialog-title {
  margin-bottom:10px!important;
}
