///////////
// card  //
///////////

/////////////////
/*  DROP SHADOW */
/////////////////
@mixin card-shadow(){
    -webkit-box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.05);
    box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.05);
}

@mixin card-shadow-hover(){
    -webkit-box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.27);
    -moz-box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.27);
    box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.27);
}


.card{
    @include card-shadow();
    &-body{
        @include size(auto, auto);
    }
}

.card-hover{
    &:hover{
        @include card-shadow-hover; 
        cursor: pointer;
    }
}


