
// LINKS
.dark-link{
    color: #ffffff;
    &:hover{
        cursor: pointer;
        color: $yellow-main;
    }
}

.link{
    color: $blue-main;
    &:hover{
        cursor: pointer;
        color: $yellow-main;
    }
    &-green{
        @extend .link;
        color: $green;
    }
    &-gray{
        @extend .link;
        color: $font-dark;
    }
}

.toast-container{
    font-weight: 300;
}