

/////////////
// -MIXINS //
/////////////
$font-med: 20px;
@mixin clearBtnStyle() {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    line-height: 1.42rem;
    list-style: none outside none; 
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}

@mixin clearFocusStyle() {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

@mixin createFlatButton($name,$color,$hoverColor) {
    .btn-flat-#{$name}{
        @include text($font-med, #{$color} , 700);
        padding: 5px 10px;
        &:hover{
            color: $hoverColor;
            cursor:pointer;
        }
        &:focus {
            @include clearFocusStyle();
            color: $hoverColor;
        }
    }
}

// This is for "routerLinkActive" to override the color of a button if we use it as a link 
.btn-flat-active-routerLinkActive{
    & > button {
        color:$yellow-main !important;
    }
}

*:focus{
    @include clearFocusStyle();
}

//////////////////
// -FLAT BUTTONS //
//////////////////
.btn-flat{
    @include clearBtnStyle();
    position: relative;
     margin: 0px 10px 0px 10px;
     -webkit-transition: color .5s; /* For Safari 3.0 to 6.0 */
     transition: color .5s; /* For modern browsers */
    .material-icons{
        @include placement(absolute,-8px, null, null, -11px);
        font-size: $f-18px;
    }
    .fa{
        @include placement(absolute,5px, null, null, -11px);
        font-size: $f-18px;
    }
}

@include createFlatButton('white','#fff',$yellow-main);
@include createFlatButton('blue',$blue-main,$yellow-main);
@include createFlatButton('red',$red,$red-light);
@include createFlatButton('active',$yellow-main,$yellow-main);
/***  WARNING: keep '.btn-flat-disabled' under '.btn-flat-blue' and 'btn-flat-white' in this file ! ***/
@include createFlatButton('disabled',$gray-dark,$gray-dark);



///////////////////
// -ROUND BUTTONS //
///////////////////

.btn-round{
    @include clearBtnStyle();
    margin:5px;
    background-color: $yellow-main;
    border-radius: 999em;
    @include square(24px);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    line-height: 1;
    font-size: 24px;
    position: relative;
    cursor: pointer;
    &:hover{
        background-color: $yellow-light;
    }
    &-red{
        @extend .btn-round;
        background-color: $red;
        &:hover{
            background-color: $red-light;
        }
    }
    // keep disabled on the bottom to override any other colors. 
    &-disabled{
        @extend .btn-round;
        background-color: $gray-dark;
        &:hover{
            background-color: lighten($gray-dark, 10% );
        }
    }
}

.btn-round i {
    @include text(17px, #fff);
    @include placement(absolute, 10%, null, null, 0.2px);
    @include square(100%);
    text-align: center;
}


.info-btn{
    color: $blue-main;
    /*padding: 0px 8px 0px 8px;*/
    &:hover{
        color: $yellow-main;
        cursor: pointer;
    }
}

///////////////////////////
// ---QUICK POSITION FORMAT //
///////////////////////////
.base-line{
    vertical-align: baseline;
}
.inherit{
    position: inherit!important;
}
.none{
    display: none;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.hidden{
    display: none!important;
}
.block{
    display: block;
}

////////////////////
// -FORMAT CONTROL //
////////////////////
ts-format-control{
    &:focus
    &:active{
        @include clearFocusStyle();
    }
}
.format-control {
    display: flex;
    -moz-transition: background .2s ease-in;
    -o-transition: background .2s ease-in;
    -webkit-transition: background .2s ease-in;
    transition: background .2s ease-in;
    background: transparent; 
    padding: 8px;
    margin: 2px 0px 3px 0px;
    border-radius: 0px;
    &:hover{
        cursor: pointer;
    }
    &-light{
        &:hover{
            color: black;
            background: $gray-light;
        }
    }
    &-dark{
        color: #fff;
        &:hover{
            color: $yellow-main;
            background: $light-blue;
        }
    }
    &-blue{
        color: $light-blue;
        border: 2px $light-blue solid;
        border-radius: 20px;
        padding: 6px!important;
        &:hover{
            color: $yellow-main;
            background: $light-blue;
        }
    }
    &-white{
        color:  #fff;
        border: 2px  #fff solid;
        border-radius: 20px;
        padding: 6px!important;
        &:hover{
            color: $yellow-main;
            background:  #fff;
            border: 2px $yellow-main solid;
        }
    }
    &-disabled{
        color:$gray-dark;
        &:hover{
            color:$gray-dark!important;
            background:transparent;
            cursor: default!important;
        }
    }
}
.format-control-no-label{
    @include square(40px);
     border-radius: 20px;
}

.format-control-large{
    @include square(64px);
     border-radius: 33px;
     & > .material-icons{
         font-size: 48px;
     }
}

.mat-toolbar{

    & sx-button-flat{
        margin-top: 13px !important;
    }
}
