<div [@TogglePanelTrigger]="panelVar" >
    <div class="clear-button-container" >
        <button mat-icon-button class="mat-icon-button-24" (click)="closePanelClick()">
            <mat-icon>clear</mat-icon>
            <!--&times;-->
        </button>
    </div>
    <div class="m-t-20  w-100 h-20" >
        
    </div>
    
    <ng-content></ng-content>

</div>