<sx-page-header 
    title=" Import Items"
    [showBreadCrumb]="false"
    ngClass="overlay-blue white">
    <div class="flex-align-items flex-space-between m-t--16">
        <div class="m-t-16 thin flex-align-items">
            <sx-icon-company-type class="bg-w-r m-r-8" [companyTypeId]="company.company_type_id"></sx-icon-company-type>
            <span>{{company.company_name}}</span>
        </div>
        <div class="m-t-16 thin">
            
        </div>
        <div class="flex-end ">
            <sx-button-primary style="width: 140px;"
                (click)="importItemsClick()"
                color="yellow"
                [disabled]="!isValid">
                Import Items
            </sx-button-primary>
        </div>
    </div>
   
</sx-page-header>
<div class="matero-row m-16 m-t-8" fxLayout="row wrap">
    <div class="matero-col" fxFlex.gt-sm="50" fxFlex="100">
        <mat-card class="m-b-0">
            <mat-card-subtitle class="text-align-center">IMPORT ITEM DATA FROM FILE</mat-card-subtitle>
            <mat-card-content>
                <div class="flex-align-items margin-top-20 w-full">
                    <div class="side-panel-sec m-t-24" *ngIf="fileInfo">
                        <div class="side-panel-sec-title">File Info</div>
                        <div class="side-panel-sec-rows">
                            <div class="sp-row flex-space-between">
                                <div class="sp-label" matTooltip="File Name">Name</div>
                                <div class="sp-value" matTooltip="{{fileInfo.file_name}}">
                                    <div class="flex-align-items">
                                        <i class="material-icons size-18 m-r-4">receipt_long</i>
                                        <span>{{fileInfo.file_name | truncate:30}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="sp-row flex-space-between">
                                <div class="sp-label" matTooltip="File Size">Size</div>
                                <div class="sp-value">
                                    <div class="flex-align-items">
                                        <i class="material-icons size-18 m-r-4">transform</i>
                                        <span>{{fileInfo.file_size | sxfilesize}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="sp-row flex-space-between" *ngIf="fileInfo.file_import_id">
                                <div class="sp-label" matTooltip="File Size">ID</div>
                                <div class="sp-value">
                                    <div class="flex-align-items">
                                        <i class="material-icons size-18 m-r-4">vpn_key</i>
                                        <span>{{fileInfo.file_import_id | number:'1.0-0'}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- sec end-->

                    <div class="side-panel-sec m-t-24" *ngIf="mapped">
                        <div class="side-panel-sec-title">Item Data</div>
                        <div class="side-panel-sec-rows">
                            <div class="sp-row flex-space-between">
                                <div class="sp-label" matTooltip="Mapped Columns">Mapped Columns</div>
                                <div class="sp-value">
                                    <div class="flex-align-items">
                                        <i class="material-icons size-18 m-r-4">style</i>
                                        <span>{{fileInfo.file_data_fields | number:'1.0-0'}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="sp-row flex-space-between" *ngIf="mfrItemImportData">
                                <div class="sp-label" matTooltip="Items to import">Items</div>
                                <div class="sp-value">
                                    <div class="flex-align-items">
                                        <i class="material-icons size-18 m-r-4">table_rows</i>
                                        <span>{{fileInfo.file_rows | number:'1.0-0'}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- sec end-->
                    
                  </div>
            </mat-card-content>
        </mat-card>
        
    </div>
    <div  class="matero-col" fxFlex.gt-sm="50" fxFlex="100">
        <mat-card class="bg-indigo-500 text-white">
            <mat-card-title class="f-s-12 f-w-100">Import Progress</mat-card-title>
            <mat-card-content class="flex-wrap">
              <h2 class="normal">Imported {{importedItems | number:'1.0-0'}} of {{itemsCount | number:'1.0-0'}} items</h2>
              <sx-mini-progress [value]="progress" ></sx-mini-progress>
              <small class="text-muted"></small>
            </mat-card-content>
          </mat-card>
        
    </div>
</div>