<sx-page-header 
    title="Field-Columns Mapping"
    [showBreadCrumb]="false"
    ngClass="overlay-blue white">
    <div class="flex-align-items flex-space-between m-t--16">
        <div class="m-t-16 thin flex-align-items">
            <sx-icon-company-type class="bg-w-r m-r-8" [companyTypeId]="company.company_type_id"></sx-icon-company-type>
            <span>{{company.company_name}}</span>
        </div>
        <div class="m-t-16 thin">
            Select an imported column header on the right and drag and drop it into the standard 
            column you would like to map it to.
        </div>
        <div class="flex-end ">
            <sx-button-primary style="width: 140px;"
                (click)="importItemsClick()"
                color="yellow"
                [disabled]="!isValid">
                Apply Mapping
            </sx-button-primary>
        </div>
    </div>
   
</sx-page-header>
<div class="matero-row m-16 m-t-0" fxLayout="row wrap">
    <div class="matero-col" fxFlex.gt-sm="50" fxFlex="50">
        <mat-card class="m-b-0">
            <mat-card-subtitle class="text-align-center">DATA FIELDS</mat-card-subtitle>
        </mat-card>
        <div class="scroll-box-h197-w flex-wrap m-t-0" style="align-content: flex-start;">
            <div  cdkDropList [id]="column.dbColumn"
                [cdkDropListData]="[column]" 
                (cdkDropListDropped)="drop($event)" 
                [cdkDropListEnterPredicate]="evenPredicate"
                *ngFor="let column of dbColumnsOpt"  class="column-drop-section">
                
                <div  class="subtitle">
                    <div class="flex-space-between">
                        <div class="ellipsis" matTooltip="{{column.name}}"> 
                            <span *ngIf="column.required" class="red">*</span>
                            {{column.name | uppercase}}
                        </div>
                        
                        <sx-button-info [message]="column.description">
                        </sx-button-info>
                    </div>
                    <div *ngIf="!column.dataField" >
                        <div   class="drop-section">
                            <div   class="size-14" >
                                Drag and Drop Field
                            </div>
                            <!--
                            <div class="drop-section-placeholder" *cdkDragPlaceholder></div>
                            -->
                        </div>
                    </div>
                    
                    
                    <sx-simple-card  *ngIf="column.dataField"
                        [title]="column.dataField.name" 
                        border="card-border-yellow"
                        [close]="true" (closeSCard)="deleteDataField(column)">
                    </sx-simple-card>
            
                </div>
            </div>
        </div>
    </div>
    <div  class="matero-col" fxFlex.gt-sm="50" fxFlex="50">
        <mat-card class="m-b-0">
            <mat-card-subtitle class="text-align-center">FILE FIELDS</mat-card-subtitle>
        </mat-card>
        <div  class="scroll-box-h197 flex-wrap m-t-0"  style="align-content: flex-start;"
            cdkDropList  #fieldList="cdkDropList"
            [cdkDropListData]="rawItemDataFields"
            [cdkDropListConnectedTo]="columsIds" 
            (cdkDropListDropped)="drop($event)" >
        
            <sx-simple-card *ngFor="let field of rawItemDataFields"
                cdkDrag  [cdkDragData]="field" 
                [title]="field.name" 
                [content]="field.value" 
                border="card-border-blue"
                [close]="true" (closeSCard)="deleteField(field)">
            </sx-simple-card>
        </div>
    </div>
</div>