<!-- (backdropClick)="drawerInfo.close()" -->
<mat-drawer-container class="sx-drawer-container" hasBackdrop="false" >
    <mat-drawer class="sx-drawer-left" #drawer 
        [(opened)]="panelIn"
        mode="side" fixedInViewport="true" 
        fixedTopGap="0" fixedBottomGap="0">
        <!-- -LEFT PANEL CONTENT -->
        <sx-mfr-iitem-import-file-tree class="sx-drawer-content" 
            [panelVar]="panelInVar"  
            (closePanel)="closePanelLeftClick()"
            (spmCompanyOpen)="spmCompanyOpen($event)">
        </sx-mfr-iitem-import-file-tree>
        
    </mat-drawer>
    <mat-drawer-content>

        <sx-page-header 
            [title]="title"
            [subtitle]="subtitle"
            [panelIn]="panelIn"
            (expandFilterPanel)="expandPanelLeftClick()"
            [showBreadCrumb]="false"
            ngClass="overlay-blue white">
            <!-- Utility Bar -->
            <sx-mfr-utility-bar class="white"></sx-mfr-utility-bar>
            
        </sx-page-header>
       <div class="matero-row">
          <!--
        <sx-my-company-tabs class="sx-tabs"
            (spmProjectOpen)="spmProjectOpen($event)"
            (spmCompanyOpen)="spmCompanyOpen($event)">
        </sx-my-company-tabs>
            -->
        
       </div>
       
        
    </mat-drawer-content>

</mat-drawer-container>

<sx-side-panel-modal #spmCompany (closeSmpClick)="spmCompanyClose()">
    <sx-spm-company-info [company]="company"></sx-spm-company-info>
</sx-side-panel-modal> 
<sx-side-panel-modal #spmProject (closeSmpClick)="spmProjectClose()">
    <sx-spm-project-info [project]="project"></sx-spm-project-info>
</sx-side-panel-modal> 
