<h2 mat-dialog-title>SX Login</h2>
<mat-dialog-content >

    <form class="matero-form-horizontal" [formGroup]="formGrp">

      <mat-form-field appearance="standard">
        <mat-label>E-Mail</mat-label>
        <input matInput   placeholder="E-Mail"  value="" type="email" formControlName="ctr_email" >
        <mat-icon matSuffix>alternate_email</mat-icon>
        <mat-error *ngIf="ctr_email.invalid">{{errorEMail}}</mat-error>
      </mat-form-field>
    
      <mat-form-field appearance="standard">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" type="password" formControlName="ctr_password">
        <mat-icon matSuffix>security</mat-icon>
        <mat-error *ngIf="ctr_password.invalid">{{errorPassword}}</mat-error>
      </mat-form-field>
    </form>
    
</mat-dialog-content>

<mat-dialog-actions align="end">
    <mat-error *ngIf="errorMessage" class="margin-right-10">  {{errorMessage}} </mat-error>
     <mat-progress-spinner *ngIf="hasSpinner" diameter="24"
       class="dialog-spinner" color="primary"  mode="indeterminate">
   </mat-progress-spinner>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button   *ngIf="!hasSpinner" mat-fab color="primary" aria-label="Login"
    [disabled]="formGrp.invalid" (click)="onLoginClick()">
      <mat-icon >account_circle</mat-icon>
  </button>
</mat-dialog-actions>