<div class="listcard">
    <mat-card *ngIf="product" class="m-4"> 
        <mat-card-content>
            <img class="m-r-4" [src]="imgUrl" alt="product" [ngClass]="imgClass">
           
            <div  class="content">
                <div class="flex-start">
                    <div class="subtitle ellipsis m-r-4">
                        {{product.name | uppercase }}
                    </div>
                    <div class="m-r-4">{{product.abreviation}}</div>
                </div>
                
                <div class="listcard-checkbox-container">
                    <sx-checkbox-labeled 
                        cssId="product-{{product.id}}"
                        label="Active" 
                        [disabled]="!enableProductAcitavion"
                        [checked]="product.isGranted"
                        (onChecked)="activeChecked($event)" >
                    </sx-checkbox-labeled>
                </div>
                
                <!--
                <div class="m-r-4">{{country.subregion_name}}</div>
                <div class="m-r-4">{{country.region_name}}</div>
                -->
            </div>
        </mat-card-content>
    </mat-card>
</div>