<div *ngIf="country" class="flex-align-items" style="align-items: baseline;"> 
    <div class="flex-start">
        <img class="flag-14 m-r-4" [src]="country.flagUrl" alt="flag">
    </div>
    <div class="flex-end f-s-14">
        <div class="m-r-4">{{country.country_name}}</div>
        <div class="m-r-4">{{country.country_iso2}}</div>
   </div>
</div>
